[2018-12-08 22:37] gclawes opened #4 "Feature request: pre-configure buckets and bucket policies in MinioInstance object"
It would be useful to create minio instances through the operator with pre-configured buckets and bucket policies.

[2018-12-12 02:57] nitisht commented on #4
This is interesting @gclawes , let me discuss with team internally and see if this is something we should do..

[2018-12-17 12:27] micw opened #5 "Feature request: trigger self healing"
According to https://github.com/minio/minio/issues/6442 self healing after a node outage is not done automatically and has to be done manually by an administrator or periodically via cron.

It makes absolute sense that the operator can handlie this as well.

Use case:
- trigger a heal if a node returns after an outage and remains a configurable time in the cluster

[2018-12-17 13:06] nitisht commented on #5
Thanks @micw . But there are plans to bring auto-healing to Minio server itself. Please refer https://github.com/minio/minio/issues/6782 .

So adding that here in operator will be redundant.

[2018-12-17 18:34] kannappanr commented on #5
Closing this issue as won't fix, as we have plans of implementing it in Minio itself. Please feel free to reach out to us if you have more questions.

[2018-12-17 18:34] #5 closed

[2018-12-22 06:47] tech-mint opened #6 "don't know how to use the operator??"
I did all 3 objects creation via your yml files

no route is being exposed
no new PVC is created
I can't see any other pod other than the operator

[2019-02-01 08:34] nitisht commented on #6
@tech-mint sorry for the delay in getting back, where is your k8s cluster running? Do you mind joining us on slack (https://slack.minio.io) so we can discuss faster and understand what is happening in your case?

[2019-02-01 08:46] tech-mint commented on #6
thanks I joined the channel

[2019-02-01 09:45] nitisht commented on #6
Thanks could you pls ping me @ nitish on slack

[2019-02-25 10:22] chaoleili opened #7 "How about set secret in minioinstances.yaml instead of create a new one with kubernetes."
I think maybe there is a little inconvenient of creating a new secret with kubelet. Set the secret in minioinstance.yaml and let minio-operator to manage the secret may be more efficient.
I‘d like to do this feature. :)

[2019-02-25 10:25] nitisht commented on #7
Sure, @chaoleili . Feel free to send a PR

[2019-02-25 10:28] nitisht commented on #6
@tech-mint please let us know on slack, about the issues you're facing..

[2019-03-11 14:59] mg03 opened #9 "Build instructions"
Hi

Can you please provide build instructions?
Thanx

[2019-03-11 15:05] harshavardhana commented on #9
Like `make build` ?

[2019-03-11 18:04] mg03 commented on #9
Shoot, my bad. thanx

[2019-03-11 18:04] #9 closed

[2019-03-18 03:33] ron1 opened #10 "Submit Minio Operator to OperatorHub.io"
The Operator Lifecycle Manager (OLM) component of the Operator Framework (https://github.com/operator-framework/operator-lifecycle-manager) provides a declarative way to install, manage, and upgrade operators and their dependencies in a Kubernetes cluster. Increase the visibility of the Minio Operator by making it available on OperatorHub.io as an operator.

[2019-03-18 05:38] nitisht commented on #10
thanks for reporting @ron1 will do

[2019-05-14 16:36] kannappanr commented on #7
ping @chaoleili Please let me know if you had time to work on creating a PR

[2019-05-15 05:43] yangjie1993 opened #11 "how to pull minio/minio:RELEASE.2018-11-22T02-51-56Z fromPrivate Registry"
I have already tag and push it to our Private Registry
emmmm where can i configure it...

[2019-05-16 06:03] nitisht commented on #11
if you're planning to use something other than `minio/minio`, it is not configurable yet. You can edit the image tag here: https://github.com/minio/minio-operator/blob/master/docs/minio-examples/minioinstance.yaml#L9

[2019-05-16 19:01] kannappanr commented on #11
@yangjie1993 Closing this issue as answered. Please feel free to reach out to us at https://slack.min.io if you have further questions.

[2019-05-16 19:01] #11 closed

[2019-06-08 02:58] kannappanr commented on #6
Closing this issue as stale. Please ping on slack as mentioned above in the comments

[2019-06-08 02:58] #6 closed

[2019-06-27 14:54] cpanato opened #14 "Request: Make a release and a docker tag release as well"

[2019-07-01 19:34] kannappanr opened #15 "Add Prometheus annotations to the service"
Add prometheus annotations to the service:
[code]

[2019-07-01 19:35] kannappanr opened #16 "add `resources` field to containers so that limits and/or requests can be specified for CPU and Memory"
add `resources` field to containers so that limits and/or requests can be specified for CPU and Memory

[2019-07-01 19:36] kannappanr opened #17 "Ability to add liveness and readiness probes"
liveness and readiness probes are also missing, would be good to add the ability to set them up

[2019-07-01 19:37] kannappanr opened #18 "Ability to set custom MINIO_STORAGE_CLASS_STANDARD environment variable in the container"
Currently there is no way to add there is no way to add custom `MINIO_STORAGE_CLASS_STANDARD` value to container environment variables. Would be good to allow that.

[2019-07-02 10:48] mredlars opened #19 "add custom scheduler to the statefulset"
Please add support for the following field in the statefulset to be available for configuration in the minioinstance CRD.
[code]

[2019-07-03 15:40] mredlars opened #21 "Add possibility for TLS automatic creation and signing externally via k8s"
Eg.
https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#create-a-certificate-signing-request-object-to-send-to-the-kubernetes-api

[2019-07-03 15:41] nitisht commented on #21
we'll take a look at this @mredlars

[2019-07-04 10:25] #18 closed

[2019-07-04 10:25] nitisht commented on #16
fixed by #20

[2019-07-04 10:25] #16 closed

[2019-07-05 06:07] #17 closed

[2019-07-05 07:06] #19 closed

[2019-07-08 10:49] mredlars opened #26 "Please make ClusterIP in service optional"
Current implementation forces a headless service:
https://github.com/minio/minio-operator/blob/383fb8c06bc53f77a3fd8b2018af8c0d7b57eac4/pkg/resources/services/service.go#L54

Please consider adding a variable to operator that will remove `clusterIP: None` from deployed service. This will assign an IP to service that can then be used for advertisement via Calico.

[2019-07-08 11:08] nitisht commented on #26
@mredlars the `headless` service is for pod's network identity in the StatefulSet (https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#limitations) , however we need to add an external service. I will do that as a fix for this, will that help?

[2019-07-12 16:05] #15 closed

[2019-07-12 16:05] nitisht commented on #26
Fixed by #27

[2019-07-12 16:05] #26 closed

[2019-07-15 14:32] nitisht opened #28 "Add validation part to CRD"
each field which is not used by operator is ignored so for example when we make a typo or given version of operator do not support some field it is ignored.

Validation https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition should be added to make it easy for debugging / identifying if a certain field is being ignored

[2019-07-15 18:01] shaneutt opened #29 "Minio cluster doesn't initialize on Kind v0.4.0 with Kubernetes 1.15.0"
I'm finding with the current version of [kind](https://github.com/kubernetes-sigs/kind) that the Minio operator doesn't seem to want to deploy properly. When the problem occurs, the Minio pods themselves reach the `Running` state but never initialize:
[code]
It continues to log `Waiting for configuration to be initialized` persistently past this point, and you can find from the Minio Golang client

[2019-07-15 18:07] harshavardhana commented on #29
@shaneutt what is the persistent backend here? we require backend to have O_DIRECT support

[2019-07-15 18:49] shaneutt commented on #29
Hi @harshavardhana, thank you for the response!

By default `kind` utilizes `kubernetes.io/host-path`:

[code]

[2019-07-15 18:50] harshavardhana commented on #29
Does the host-path support O_DIRECT? @shaneutt

[2019-07-15 18:51] shaneutt commented on #29
I'm investigating that right now @harshavardhana, thanks for the pointer in the right direction here.

[2019-07-15 19:00] shaneutt commented on #29
It looks like it doesn't, and as an immediate workaround I can get unblocked by utilizing [Local Path Provisioner](https://github.com/rancher/local-path-provisioner) instead. Thank you for your assistance @harshavardhana!

To me it seems the issue here then is that if you utilize storage that doesn't support `O_DIRECT` there should be an obvious log entry for this problem. What are your thoughts o

[2019-07-15 19:09] harshavardhana commented on #29
We expect a POSIX syscall error @shaneutt which is sometimes unfortunately not provided by all filesystems - one example we found recently is GlusterFS doesn't generate an error but ends up creating a 0-byte file and since we don't get quorum for the erasure-coded files we wait for the quorum.  This leads to a perpetual loop.

[2019-07-15 19:21] shaneutt commented on #29
Understood, thanks again for the pointer in the right direction I have a working CI now you rock :+1:

[2019-07-15 19:21] #29 closed

[2019-07-23 03:23] #28 closed

[2019-08-02 01:38] nitisht commented on #7
will be fixed by #32

[2019-08-02 14:39] #21 closed

[2019-08-02 14:40] nitisht commented on #7
fixed by #32

[2019-08-02 14:40] #7 closed

[2019-08-06 05:44] nitisht commented on #14
@cpanato releases are tagged now https://hub.docker.com/r/minio/k8s-operator/tags

[2019-08-06 05:44] #14 closed

[2019-08-06 07:25] cpanato commented on #14
cool!! thanks @nitisht

[2019-08-06 07:57] cpanato opened #35 "error when applying the CRD"
when applying the updated crd in the cluster i got this error:

[code]

k8s cluster version: kindest/node:v1.13.4

[2019-08-06 08:04] nitisht commented on #35
@cpanato you can either update the k8s cluster version or comment the CRD spec from `preserveUnknownFields` to whole of `openAPIV3Schema` section

Validation is only available from K8s 1.15 onwards (https://kubernetes.io/blog/2019/06/19/kubernetes-1-15-release-announcement/) as mentioned in pre-requisites: https://github.com/minio/minio-operator#prerequisites

[2019-08-06 08:04] cpanato commented on #35
thanks!

[2019-08-06 08:04] #35 closed

[2019-08-10 23:03] kannappanr commented on #10
ping @nitisht Is this done?

[2019-08-12 06:05] nitisht commented on #10
not yet @kannappanr this needs some time

[2019-08-12 15:40] harshavardhana commented on #10
what is pending? @nitisht

[2019-08-22 13:16] mredlars opened #37 "Feature request: Allow podManagementPolicy configuration for minio statefulset"
By default operator will use `.spec.podManagementPolicy: "Parallel"`.
Please allow overriding this option in minioinstance CRD.

[2019-08-23 05:45] #37 closed

[2019-08-29 08:36] mredlars opened #41 "Can you please release new version from current master?"

[2019-09-03 08:31] anthonyhaussman opened #42 "Add custom tolerations to the statefulsets"
Please, can you add support for the following field in the statefulset to be available for configuration in the minioinstance CRD.

[code]

Thanks.

[2019-09-03 08:42] nitisht commented on #41
release is done, with tag `1.0.2`

[2019-09-03 08:42] #41 closed

[2019-09-03 08:42] nitisht commented on #42
We'll take a look @anthonyhaussman

[2019-09-17 07:38] #42 closed

[2019-09-30 06:32] tsrjzq opened #44 "minio-operator.yaml error in Kubernetes v1.16"
With Kubernetes v1.16, the Deployment apiVersion apps/v1beta1 has been removed, so when apply minio-operator.yaml, there is error:

[root@node49 ~]# kubectl create -f https://github.com/minio/minio-operator/blob/master/minio-operator.yaml?raw=true
namespace/minio-operator-ns created
customresourcedefinition.apiextensions.k8s.io/minioinstances.miniocontroller.min.io created
clusterrole.rbac.authori

[2019-10-07 06:47] benjaminhuo opened #45 "Unknown field when applying examples/minioinstance.yaml"
When I tried apply minio operator following the steps below, please note I've changed the namespace of the operator and instance:

- 1. kubectl apply -f minio-operator.yaml (this can be applied successfully)
- 2. kubectl apply -f examples/minioinstance.yaml

I got errors below when applying examples/minioinstance.yaml

[code]

[2019-10-07 08:08] nitisht commented on #45
What is your kubernetes version @benjaminhuo

[2019-10-07 08:52] benjaminhuo commented on #45
Sorry, forget the version info.
It's v15.1
[code]

[2019-10-08 09:12] PacoDu commented on #45
I've exactly the same issue with kube 1.15.2

[2019-10-08 12:42] voidengineer opened #46 "Allow to set the serviceAccountName and securityContext for the managed containers"
This is a feature-request:

I try to use minio-operator in a self-managed internal Kubernetes-cluster.
Our default PodSecurityPolicy sets all containers to a read-only root-filesystem, so starting the minio-container results in `ERROR Unable to create directory specified config-dir=/.minio: mkdir /.minio: read-only file system`.

We have an additional PSP available, that allows writing to the cont

[2019-10-08 14:16] kannappanr commented on #46
@voidengineer Thanks for the feature request. We will take a look and get back to you.

[2019-10-10 09:41] sxmon commented on #45
Same problem with 1.15.3 using kind (https://github.com/kubernetes-sigs/kind)

[2019-10-11 14:21] piwi91 opened #47 "Dynamic PVC using storageclass fails because name is nill"
Requesting a new MinIO instance with a dynamic PVC doesn't work with the given example in this repository. You need to define the `name` in the `volumeClaimTemplate` and in the `volumeClaimTemplate.metadata` to get it working otherwise you'll get the following error in the generated statefullset:

[code]

This is because the `name` is `nill`:

[code]

The MinIOInstance below works:

[code]

[2019-10-14 09:15] piwi91 commented on #47
The `storageClassName` is not passed to the PVC configuration so this isn't working at all. Is my configuration supported or doesn't the minio-operator support dynamic PVC?

[2019-10-22 06:51] Praveenrajmani commented on #47
@piwi91 I can see the StorageClass being passed..

![image](https://user-images.githubusercontent.com/5410427/67263678-64010080-f4c6-11e9-86c8-655ae8e69abc.png)

[2019-10-29 03:14] nitisht commented on #10
Fixed by https://github.com/operator-framework/community-operators/pull/816

[2019-10-29 03:14] #10 closed

[2019-10-29 09:54] voidengineer opened #49 "Allow `externalCertSecret` to be of type `kubernetes.io/tls`"
At the moment minio-operator expects the `externalCertSecret` to have the keys `public.crt` and `private.key`.

Kubernetes has a specific kind of secrets with the type `kubernetes.io/tls`, which have the keys `ca.crt`, `tls.crt` and `tls.key`. This kind of secret is even generated by tool like [cert-manager](https://github.com/jetstack/cert-manager).

It would be great, if minio-operator could sup

[2019-10-29 13:40] nitisht commented on #49
we'll take a look @voidengineer

[2019-10-30 05:20] #44 closed

[2019-11-23 15:20] cons0l3 opened #50 "minio-hl-svc has no ClusterIP"
I am working through the `minio-operator/README.md`. The operator installed successfully it its own namespace "minio-operator-ns". The minio instance installed without error (kubectl create -f ...) and resulted in a pod "minio-*" and a secret as expected. When checking `kubectl get svc` the minio-hl-svc has a ClusterIP None.

[code]
When executing the steps from `minio/README.md` manually the inst

[2019-11-23 22:20] harshavardhana commented on #50
@nitisht ^^

[2019-11-24 10:51] nitisht commented on #50
not really clear what the problem is @cons0l3 . `minio-hl-service` is a [headless service](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services) created as a [pre-requisite for StatefulSet](https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#before-you-begin)

[2019-11-25 08:05] cons0l3 commented on #50
Hi @nitisht,
oh, thanks. When working through the readme, my expectation was to have a running minio webfront-end and minio api endpoint (same when you work through the minio/readme). As the minio-hl-service (and now I know hl stands for headleass) has no webfront-end or adress api endpoint.

What is the suggested way of setting up a StatefulSet and should that be added to the readme?

[2019-11-25 08:09] nitisht commented on #50
Operator will create a statefulset, using given parameters in the sample yaml file. To access the MinIO statefulset you can create a separate service like this (https://github.com/minio/minio/blob/master/docs/orchestration/kubernetes/minio-distributed-service.yaml) - feel free to update the service type as per your requirements

[2019-11-25 08:17] cons0l3 commented on #50
In the examples folder I have found a "minioinstance-with-external-service.yaml" which seems to be a not headless variant. In other words the "minioinstance.yaml" is the headless variant, where as the formentioned is not. A hint in the readme would be terrific, maybe with a little use case description for either variant. Two ways to set it up and enjoy ;-)
Thanks for your outstanding service and s

[2019-11-25 08:17] #50 closed

[2019-11-26 04:10] recklessop opened #51 "Official ARM64 operator?"
Minio is supported on ARM64, but there doesn't seem to be a pre-build operator for ARM64.

[2019-11-26 04:14] harshavardhana commented on #51
We won't be doing ARM64 for now, unfortunately, closing this issue for now.

[2019-11-26 04:14] #51 closed

[2019-11-26 04:21] recklessop commented on #51
Is there a technical issue or just no time / value in adding it to the build process? Thanks!

[2019-11-26 06:33] harshavardhana commented on #51
We don't have cycles to test and validate. Our focus is only Intel 64 platforms right now.

[2019-12-06 19:24] OchiengEd opened #53 "Update Example on Minio Operator CSV"
While attempting to deploy the example `MinIOInstance` showing in operatorhub.io, I discovered the example did not deploy as a result of the `replicas`[1] and  `requestAutoCert`[2] values were quoted. However, the Custom Resource Definition defines the mentioned fields as integer and boolean respectively.

The recommended changes have been added to the gist for your review[3].

In addition, I noti

[2019-12-06 19:58] harshavardhana commented on #53
Feel free to send a PR @OchiengEd

[2019-12-06 21:39] OchiengEd commented on #53
Do you maintain the CSV bundle outside the community-operators repo? I was trying to avoid creating a PR directly to the `community-operators` repository only to have changes reverted if you have the CSV in a repository somewhere.

[2019-12-09 19:11] OchiengEd commented on #53
Also added cluster roles for the `minio-operator-sa` service account to allow the service account to list statefulsets, services, secrets and minio instances at the cluster level. Did so after seeing permission related errors.

I will push these changes to the `community-operators` repo.

[2019-12-09 19:39] harshavardhana commented on #53
@nitisht PTAL

[2019-12-09 19:45] OchiengEd commented on #53
I will allow @nitisht sometime to review before submitting the changes.

[2019-12-11 01:21] OchiengEd commented on #53
I have a PR in to update the CSV based on what we have in out repository.

https://github.com/operator-framework/community-operators/pull/988

[2019-12-12 10:12] hainesc opened #55 "Allow selector in minioinstance spec"
I was trying to deploy minio by minio-operator on OpenEBS, it is a Container attached storage. Everything goes well until I tried to deploy the minio instance and OpenEBS target pod on the same node, I believe it can improve the perfermance.

To do this, I need add selector [See here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/types.go#L114)  in the statefulset according th

[2019-12-18 16:01] OchiengEd opened #56 "Operator Capabilities and Prometheus ServiceMonitor"
Based on the operator levels on operatorhub.io, I think we can have the Minio operator capabilities can be marked as a level 4 operator. This is based on the fact that the `minio` operand or cluster exposes a metrics endpoint. From the diagram below, that is one of the functionalities sought after in level 4 operators

![Levels](https://operatorhub.io/static/images/capability-level-diagram.svg)

H

[2019-12-20 00:45] harshavardhana commented on #56
It looks interesting @OchiengEd feel free to send a PR

[2019-12-20 21:59] OchiengEd commented on #56
Done. I have added PR https://github.com/minio/minio-operator/pull/57

[2019-12-27 03:09] andypeng2015 opened #58 "able to delete file w/o login in minio browser"
I am able to delete backup file without login, even though I already configured secret for login, as shwon below

<img width="1284" alt="minio" src="https://user-images.githubusercontent.com/24508594/71498853-05c31600-2899-11ea-9690-21f39b6c20a0.png">

[code]

[code]

[2019-12-27 04:02] harshavardhana commented on #58
This is because you have an anonymous bucket policy set which allows for read and write.

[2019-12-27 09:30] Glorf opened #59 "Operator scoped to namespace"
Hi
I'm currently deploying operator-per-namespace setup in my kubernetes cluster. I've noticed that, by default, this operator is working globally and operating in all namespaces. However, I'd like to have option to limit the scope to the ns operator is deployed in, or more flexibly, to have freedom of choice which namespaces should be watched (like https://strimzi.io/docs/master/#deploying-cluste

[2019-12-27 09:41] nitisht commented on #59
We can discuss this internally and get back @Glorf

[2019-12-27 09:42] nitisht commented on #47
@piwi91 closing this for now as doesn't seem to be reproducible, feel free to reopen if you see this again

[2019-12-27 09:42] #47 closed

[2019-12-27 18:35] kannappanr commented on #58
@andypeng2015 Closing this issue as answered. Please feel free to reach out to us if you feel otherwise.

[2019-12-27 18:35] #58 closed

[2019-12-30 06:50] andypeng2015 commented on #58
@harshavardhana @kannappanr how do I configure the minio-operator to set the default bucket policy to `none`? thanks.

[2019-12-30 07:27] Gallardot opened #60 "why we need `mirror_controller`"
I find that `pkg/controller/cluster/controller.go`  is very similar to `pkg/controller/mirror/mirror_controller.go`.
But we're just using `pkg/controller/cluster/controller.go` 's `NewController` .
Why do we need `pkg/controller/mirror/mirror_controller.go`?

[2019-12-30 07:28] nitisht commented on #60
@Gallardot it is still a WIP, the plan was to add mirroring as a part of operator capabilities.

[2019-12-30 07:30] nitisht commented on #55
@hainesc feel free to send a PR

[2020-01-03 09:35] nitisht commented on #60
closing this as answered

[2020-01-03 09:35] #60 closed

[2020-01-07 02:59] andypeng2015 opened #62 "backup file truncated after turning on retention policy"
Not sure if this is normal, but after I turn on the retention via the mc cmd below, the backup file got truncated to smaller size, initially it's all full backup with MegaBytes, now it's only KBytes.

And is there any configure in operator to set the default bucket policy to none? thanks.

[code]

<img width="959" alt="Screenshot 2020-01-07 at 10 57 07 AM" src="https://user-images.githubuserconten

[2020-01-07 03:00] harshavardhana commented on #62
if you enable retention overwrites are not allowed @andypeng2015 what are you trying to do?

[2020-01-07 03:03] andypeng2015 commented on #58
@harshavardhana @kannappanr how do I configure the minio-operator to set the default bucket policy to none? thanks.

[2020-01-07 03:05] harshavardhana commented on #58
Default policy is always none @andypeng2015

[2020-01-07 15:41] Glorf commented on #59
Thanks @nitisht

As the issue was important for me to get fixed, I proposed simple solution to provide a solution that is straightforward yet good enough for me. Please take a look, and I'd appreciate your review and merge if you decide it's good enough

[2020-01-09 03:24] nitisht commented on #59
fixed by #63

[2020-01-09 03:24] #59 closed

[2020-01-20 10:17] vCra opened #65 "Operator does not delete volumes after deletion of CRD"
After deletion of a CRD, the minio operator does not delete the created volumes assigned to each pod.

Tested using RKE, and StorageOS on k8s v1.15.6

[2020-01-20 10:22] nitisht commented on #65
Thanks @vCra we'll take a look

[2020-01-20 10:41] bclermont commented on #56
PR #57 is closed, unmerged

[2020-01-20 14:10] #56 closed

[2020-01-23 06:11] muranant opened #66 "imagePullSecrets not being honoured..."
we would like to pull the image from a private repository secured by a kubernetes secret. Typically we do the following:
[code]
How do we specify this for example in the minioinstances.yaml example in this repo?

[2020-01-23 06:19] nitisht commented on #66
It is not supported yet @muranant we'll need to add this

[2020-01-23 06:34] muranant commented on #66
Thanks. appreciate the quick response.

[2020-01-24 12:40] bclermont opened #68 "Operator for Bucket, Users, policies, etc"
This is not an issue. I couldn't find a good channel to communicate with this project.

As this operator focus on the cluster itself, I created an other operator that take care of users, buckets and their policy.

https://github.com/robotinfra/minio-resources-operator

Should these features be into this operator?

[2020-01-26 03:23] nitisht commented on #68
@bclermont thank you for reaching out. Yes, IMO this would a great addition to our operator. Please feel free to send a PR

[2020-01-26 03:31] harshavardhana commented on #68
The plan is to do this under https://github.com/minio/m3 which does this already to some extent.

Feel free to open issues there, the scope of this operator is limited to deployment simplicity only.

[2020-01-26 03:31] #68 closed

[2020-01-26 03:32] harshavardhana commented on #4
The scope of this operator is not to do these things. We have another project https://github.com/minio/m3 to do these things.

[2020-01-26 03:32] #4 closed

[2020-02-05 15:16] mdekoster opened #69 "Minio operator deployment contains 1.0.4 image"
The Minio Operator deployment file references the 1.0.4 version of the container image in stead of the current 1.0.6 version.

[2020-02-05 17:42] harshavardhana commented on #69
Thanks for noticing - feel free to send a fix @mdekoster

[2020-02-10 14:56] dmayle opened #70 "[Feature Request] Custom DNS/naming scheme for StatefulSet"
This is a request to allow to change the naming scheme used by the generated StatefulSet.  Right now, I'm generating the StatefulSet and then manually updating the args.

Why?  I have setup Minio with a valid public certificate that contains `<service>.<domain>` and `<host-X>.<service>.<domain>`.  This means that my clients trust connections to the cluster, but that I have to manually update the a

[2020-02-14 14:09] deepio-oc commented on #45
you at least need to have kubernetes version 1.15.5

[2020-02-14 14:24] #45 closed

[2020-02-14 15:13] harshavardhana commented on #69
Closed by 3c7e5ae1c8a56e87ddd531e900f7fd9a9d15296d

[2020-02-14 15:13] #69 closed

[2020-02-14 15:14] harshavardhana commented on #70
Good idea feel free to send a fix @dmayle

[2020-02-20 03:57] johnsmyth opened #71 "gateway support"
Is it possible to run minio s3 gateway via the operator?

[2020-02-20 04:03] nitisht commented on #71
It is not possible to do so currently @johnsmyth

[2020-02-20 04:04] harshavardhana commented on #71
The operator is meant for distributed setups @johnsmyth if s3 gateway is all you need just use our `helm` chart.

[2020-02-21 14:33] kannappanr commented on #71
@johnsmyth Closing this issue as won't fix based on the previous comments.

[2020-02-21 14:33] #71 closed

[2020-03-02 19:31] swiftdiaries opened #72 "Named Service Port for Minio Service"
Currently, a named service port for the minio-service created by the operator would be useful for discovery by ingress controllers (istio, heptio-contour...)

[2020-03-02 19:34] swiftdiaries commented on #72
/cc @nitisht

[2020-03-18 20:17] dealancer opened #74 "Does this operator support multi cluster setup with Istio?"
Does this operator support multi cluster setup with Istio (e.g. if there are two clusters connected using Istio service mesh and I want Minio to run over these two clusters)?

[2020-04-02 11:08] garyedwards opened #76 "Document how to use multiple volumes per node"
I am looking to set up minio-operator in standalone mode with 4 disks.  I can not find the documentation / best practice for attaching multiple drives. I see that `/export` is where a single PV may be mounted but how do I tell the operator that I have multiple?

Thanks a lot in advance.

[2020-04-03 16:41] garyedwards commented on #76
Hi Just a quick update.

When I do a volume claim for a single drive as per your documentation the pvc is created and minio works as expected.

[code]

When I add a number of over volume claims that I would be expected to be handled by the operator and volumes to be created in the correct locations no pvcs are created and the operator creates an pod with no volumes attached.

[code]

Maybe the ope

[2020-04-03 16:43] nitisht commented on #76
Yes @garyedwards currently the operator expects only one disk per pod. Support for multiple volumes needs to be added

[2020-04-03 16:47] garyedwards commented on #76
Hi @nitisht thanks a lot for your reply.  For now I will look at the helm and yaml methods.  Thanks for such a great project look forward to using the operator in the future.

[2020-04-08 09:28] nitisht commented on #72
@swiftdiaries the service minio-operator creates is a headless service created for StatefulSet. To add named service port for ingress, you can simply add that here https://github.com/minio/minio-operator/blob/master/examples/minioinstance-with-external-service.yaml#L11

Closing this issue as answered.

[2020-04-08 09:28] #72 closed

[2020-04-08 10:53] nitisht commented on #49
This is fixed by #64

[2020-04-08 10:53] #49 closed

[2020-04-08 12:50] nitisht commented on #65
@vCra IMO this is the right behaviour, it will avoid accidental deletion of user data. Basic yaml install also by default won't delete PVs.

Closing this as answered.

[2020-04-08 13:03] nitisht commented on #74
@dealancer I don't see a reason for this to now work. Operator will just create MinIO instances, underlying network / mesh is out of the scope.

Closing this as answered, please do let us know how it goes in your testing

[2020-04-08 13:03] #74 closed

[2020-04-10 14:43] RohitR1 opened #78 "Option to use GCS Gateway with Minio K8s Operator"
Option to use GCS Gateway with Minio K8s Operator

[2020-04-13 11:57] #55 closed

[2020-04-13 11:57] #66 closed

[2020-04-14 08:47] cameronbraid opened #79 "Question - replicas 1 or even"
I am looking to use the operator in a HA environment, and was curious about why replicas has to be even

So if I have 3 nodes in my cluster, is the recommend approach to have 6 replicas in total, with 2 replicas on each node ?

[2020-04-14 08:49] nitisht commented on #79
@cameronbraid yes, but we're working on fixing this in the operator, we'll remove this limitation soon.

[2020-04-14 14:17] GeorgFleig commented on #79
@nitisht when you remove this limitation in the operator, then multiple disks are needed for each pod, right? At least if I understand the documentation for a distributed setup correctly (https://docs.minio.io/docs/distributed-minio-quickstart-guide.html):

In @cameronbraid case this could mean 1 pod per node (3) with 4 disks each? So the number of drives is 12 which is a multiple of 4.

[2020-04-15 18:27] #76 closed

[2020-04-15 18:27] #79 closed

[2020-04-15 18:28] harshavardhana commented on #78
Use our helm chart, this operator is not meant for gateway deployments yet.

[2020-04-15 18:28] #78 closed

[2020-04-17 10:38] arnediekmann opened #82 "YAML does not reflect released version"
The tagged releases of the operator do not seem to seem to set the version in `minio-operator.yaml` which would be beneficial to allow installation of a specific version and updates of the operator to a specific version by running:

[code]

This will, however, for all current versions deploy version `1.0.4` and only for latest `1.0.7` because of 3c7e5ae1c8a56e87ddd531e900f7fd9a9d15296d.

[2020-04-17 17:23] harshavardhana commented on #82
Feel free to fix it @arnediekmann

[2020-04-17 17:23] #82 closed

[2020-04-17 18:20] arnediekmann commented on #82
This doesn't make too much sense to me since it concerns the release process which I couldn't really test easily. But I take it you don't intend to necessarily change that, correct? I will then just change that on the fly during our deployments.

[2020-04-17 18:34] harshavardhana commented on #82
It's a small change, you can send a PR - the code is open-source. Yaml file is just a definition you can choose whichever version you choose, it is not meant to be up to date.

[2020-04-17 20:40] arnediekmann commented on #82
I get that this is open-source and that it is a small change and merely a matter of doing something along the lines of `curl https://raw.githubusercontent.com/minio/minio-operator/$version/minio-operator.yaml 2>/dev/null | sed "s#minio/k8s-operator:.*#minio/k8s-operator:$version#"`. I still think it would be a pretty cool and it is how many other operator and controller projects are doing it as we

[2020-04-17 20:54] harshavardhana commented on #82
Are you implying there is something wrong here ?

You need to fix the yaml file to point to the latest release.

[2020-04-21 05:54] cameronbraid opened #83 "Observed a panic: runtime.boundsError{x:0, y:0, signed:true, code:0x0} (runtime error: index out of range [0] with length 0)"
operator: docker.io/minio/k8s-operator:1.0.8
kubernetes : Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:"2020-01-18T23:22:30Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"linux/amd64"}

[code]

[2020-04-21 05:54] harshavardhana commented on #83
thanks for the report @cameronbraid

[2020-04-21 06:01] cameronbraid commented on #83
Looks to be a backwards compat issue.. as I had a minio instance of a slightly older format

once I added
[code]
it started fine

[2020-04-24 05:20] nitisht commented on #70
fixed by #84

[2020-04-24 05:20] #70 closed

[2020-04-29 10:03] AdheipSingh opened #88 "Cluster Scope or Namespaced Scope"
I see in the docs mentioned that we can run the operator as cluster or namespaced scope. As per my knowledge namespaced scope operators are generally preferred. Could someone suggest what is the best for minio, does running cluster scope have any issues.....this is just a question out of curiosity :)

[2020-05-01 06:11] cameronbraid opened #91 "rbac issue with latest"
minio operator pod reports :

[code]

[2020-05-01 06:26] cameronbraid commented on #91
works if I use `https://raw.githubusercontent.com/minio/minio-operator/1.0.9/minio-operator.yaml` instead of master

[2020-05-05 23:10] dvaldivia commented on #91
@cameronbraid you can fix this by adding the following permission to the latest `minio-operator-role`
[code]

[2020-05-06 20:07] OchiengEd commented on #53
This change was merged upstream

[2020-05-06 20:07] #53 closed

[2020-05-06 20:17] OchiengEd opened #94 "minioinstances.miniocontroller.min.io vs. minioinstances.miniooperator.min.io"
Just deployed a new instance of the `minio-operator` when I noticed errors indicating the operator could not find the requested minioinstance resource `minioinstances.miniocontroller.min.io` [1].

A review of the CRDs installed (see [2] and [3] below) suggests the domain should be `minioinstances.miniooperator.min.io`.  Are these one and the same resource and is there something being done to resol

[2020-05-07 16:31] OchiengEd commented on #94
appears related to https://github.com/minio/minio-operator/pull/92

[2020-05-10 10:54] soulseen opened #96 "how to create an external service in MinIOInstance definition to enable Service based access to the MinIOInstance pods."
Follow the [doc](https://github.com/minio/minio-operator/blob/master/docs/operator-fields.md#access-minioinstance-via-service) here, but the example does not exist, and I also can not find any field in minIO type [here](https://github.com/minio/minio-operator/blob/master/pkg/apis/miniooperator.min.io/v1beta1/types.go#L49).

[2020-05-10 14:26] nitisht commented on #96
Please use the example from here https://github.com/minio/minio-operator/blob/master/examples/minioinstance.yaml#L22

There are some changes going on in this project causing missing links, we'll fix the links soon

[2020-05-10 14:26] #96 closed

[2020-05-10 14:28] nitisht commented on #94
It'll be finally just `operator.min.io`, please bear with us, while we make these changes. For now please build the image from master.

[2020-05-11 08:48] argamanza opened #97 "Unable to scale (set "replicas" field)"
I'm trying to modify the `spec.replicas` attribute using kubectl patch or even applying a yaml file on top of an existing `minioinstance` and it doesn't change it (after patching or applying i'm checking the manifest and the replicas is still set to the old value)

Is there a way to change the number of replicas other than deleting the `minioinstance` and creating a new one?

[2020-05-14 10:10] sjmittal commented on #94
Are there any build instructions (for windows) to build image from master.
Sorry I am new to go.

[2020-05-14 14:54] sjmittal opened #98 "Minio deployments minio-operator vs k8s-yaml"
Hello,
As per the description in the readme page of this operator, it suggests multiple ways to deploy minio instances.

I wanted to know in general whats the difference between using minio operator vs standard k8s yaml files as mentioned https://github.com/minio/minio/blob/master/docs/orchestration/kubernetes/k8s-yaml.md.

When would we generally choose operator over k8s yamls.
What added benefit

[2020-05-14 17:19] SandeepPissay opened #100 "s"

[2020-05-14 17:20] #100 closed

[2020-05-14 17:21] SandeepPissay commented on #100
Ignore this issue as it got created by mistake.

[2020-05-14 17:25] SandeepPissay opened #101 "minio-operator.yaml on master is using minio/k8s-operator:2.0.0 that does not exist"
I tried to deploy minio operator using the yaml -
https://github.com/minio/minio-operator/blob/master/minio-operator.yaml. This fails since the image tag `minio/k8s-operator:2.0.0` does not exist.

Is there an image for the latest on master branch I can use?

[2020-05-14 17:30] harshavardhana commented on #101
master is not released yet @SandeepPissay

[2020-05-14 17:30] #101 closed

[2020-05-14 17:31] SandeepPissay opened #102 ""make build" on master fails with fatal error: mlock failed on ubuntu 20.04"
I'm facing the below build issue on master.

[code]

I see that the kernel version and ulimit -l meets the criteria described in the above error:
[code]

[2020-05-14 17:34] SandeepPissay commented on #101
@harshavardhana
A lot of devs would just follow the README to try out minio operator and ideally the yaml file referred in the README should just work. It would nice if this is taken care of for a better user experience of using this project.

[2020-05-14 17:38] harshavardhana commented on #102
This means your docker has mlock disabled in your container environment, builds fine locally on ubuntu 20.04

[code]

[code]

[2020-05-14 17:38] #102 closed

[2020-05-14 17:39] sunsingerus commented on #91
Still facing the same issue:
[code]

and above mentioned section
[code]
is in place

[2020-05-14 17:41] sunsingerus commented on #91
by the way, after changing cluster role to `cluster-admin`
[code]
face the another error:
[code]

[2020-05-14 17:45] harshavardhana commented on #101
Ideally yes, but we are going through some rewrites internally so please be patient.

[2020-05-14 17:57] harshavardhana commented on #94
This has completely changed its `operator.min.io` and released.

[2020-05-14 17:57] #94 closed

[2020-05-14 17:58] harshavardhana commented on #98
You would always choose operator for long term maintenance and production, writing your own yamls is to experimenting purposes.

We will be removing multiple ways and standardizing on just this operator.

[2020-05-14 17:58] #98 closed

[2020-05-14 17:59] harshavardhana commented on #83
we made a new release PTAL its a breaking change, the crash should be fixed as well.

[2020-05-14 17:59] #83 closed

[2020-05-14 18:12] nitisht commented on #88
Both ways don't have an issue as such @AdheipSingh . It is upto the user to decide what to use. Closing this as answered

[2020-05-14 18:12] #88 closed

[2020-05-14 18:14] nitisht commented on #91
Can you try with new image `minio/k8s-operator:2.0.0` and the default yaml provided?

[2020-05-14 18:16] nitisht commented on #97
we'll take a look @argamanza

[2020-05-14 18:37] AdheipSingh commented on #88
@nitisht thanks for the reply. Solves my query :)

[2020-05-15 05:35] sjmittal opened #104 "Is CRD mirrorinstances.operator.min.io madatory for this operator to work"
Hi,
I am looking to create instances of minio using this operator.
As of now I don't need the instances of `mirrorinstances`.
So in the provided file: `minio-operator.yaml`
I have removed that CRD and also its instance creation from `minioinstance.yaml`.

Would this scenario work.

Thanks
Sachin

[2020-05-15 05:55] nitisht commented on #104
Yes that would work. also please join our Slack channel (slack.min.io) for more such questions, that is the right place.

[2020-05-15 05:55] #104 closed

[2020-05-15 07:16] sjmittal opened #105 "The server could not find the requested resource (get minioinstances.operator.min.io) error"
Once I pick the latest 2.0.0 release and run the operator I get the error:

`E0515 06:38:56.920391       1 reflector.go:178] k8s.io/client-go@v0.18.0/tools/cache/reflector.go:125: Failed to list *v1.MinIOInstance: the server could not find the requested resource (get minioinstances.operator.min.io)`

Further when I try to view the CRDs I see this:
[code]

Also looks like instance does get created

[2020-05-15 09:20] sjmittal commented on #105
This is fixed.
What I was missing is that they have updated the mini-operator CRD here:
https://github.com/minio/minio-operator/blob/master/minio-operator.yaml#L6-L46
Now the api group and version is:
[code]

Make sure your minio instance refers to correct api as in:
https://github.com/minio/minio-operator/blob/master/examples/minioinstance.yaml
`apiVersion: operator.min.io/v1`

Also make sure to

[2020-05-15 09:27] sjmittal commented on #105
I suppose we can try to suppress error:
`Failed to list *v1.MirrorInstance: the server could not find the requested resource (get mirrorinstances.operator.min.io)`

If no mirror instance CRD is installed.

[2020-05-15 18:37] snambakam opened #106 "Configuring a MinIO instance as an S3 Gateway using the minio-operator"
The minio operator currently configures the container to act as a MinIO server and does not have any options to run it as an s3 gateway.

Would it be acceptable to extend the operator to support the S3 Gateway use case?

[2020-05-15 18:39] harshavardhana commented on #106
Gateway usecase won't be supported for now @snambakam - please use the helm chart or write your own yaml file.

[2020-05-18 17:55] dvaldivia opened #108 "Create MinIO Operator Helm Chart"
We need to add a helm chart to install MinIO Operator, just so people using `helm` can quickly install us.

[2020-05-18 19:29] damianoneill commented on #108
related request, looking at https://operatorhub.io/operator/minio-operator this is referring to v1.0.3 is there any plans to update this so that olm can be used to do the install?

[2020-05-18 19:31] dvaldivia commented on #108
@damianoneill thanks for pointing that out, we updated the `olm` files on the repo, but seems that `operatorhub` didn't pick it up automatically, let me see what we need to do to have it update.

[2020-05-19 13:06] akantak commented on #65
Is there an option to "enable" deleting volumes along with the pods?

[2020-05-19 14:30] vCra commented on #65
Yeah - from my point of view, the whole point of an operator is to manage the whole lifecycle of an appliance. In this instance, the operator handles the creation of a PVC, but does not handle the deletion. I understand the whole "but what if someone deletes the Minio Object" use case. If anyone knows of other services that leave PVC's after the Resource has been deleted, then let me know, but I f

[2020-05-19 21:34] Peyoz opened #112 "Issue with minio-operator creation"
Hi Guys,

with the last yaml definition for the minio-operator, I got this issue

[code]

This is on a freshly installed RKE cluster.
There is something missing in the namespace scopes I suppose.

Let me know if you need any logs / output.

Cheers!

[2020-05-20 06:45] vmwiz commented on #112
Caused by 67a1c4f68a16eb822e4609abc3062ee671068ecb `Remove fixed namespace from install`

The `ServiceAccount` subject is no more scoped in the `ClusterRoleBinding` definition.

Quickfix:
[code]
@dvaldivia wouldn't it be better to let the namespace fixed in the plain yaml and let the user override it with `kustomize` ?

[2020-05-20 06:47] nitisht commented on #112
Thanks we'll take a look @vmwiz @Peyoz

[2020-05-20 06:47] dvaldivia commented on #112
@vmwiz setting the namespace to default on the service account may do it, but indeed the service account cluster role binding might not be something that can be seeded so easily, I’ll test if if the “-n” flag overrides. Can you add the namespace default to the cluster role binding in the meanwhile?

[2020-05-20 09:08] vmwiz commented on #112
With `kubectl apply -f minio-operator.yaml -n minio-operator` the `ServiceAccount` will be created in the `minio-operator` namespace along with other resources.

Adding the `default` namespace to the `ClusterRoleBinding` subject would reference a `ServiceAccount` created in the `default` namespace which is not the case when forcing the namespace with `kubectl -n`

Hardcoding the `ServiceAccount` t

[2020-05-20 12:20] Peyoz commented on #112
ok, so I added namespace to both SA definition and binding and it works correctly.
I also deployed some minio instances in different namespaces.
Thanks for the clarification!

[2020-05-20 17:55] dvaldivia commented on #112
@vmwiz valid point, I'll default to the `default` namespace and add a `kustomize` file

[2020-05-20 18:13] #112 closed

[2020-05-21 07:09] akantak commented on #65
@nitisht could you reopen this issue and discuss it?

[2020-05-21 07:17] harshavardhana commented on #65
Feel free to send PRs if you must, for now we don't have cycles to address these usecases.

We are of the opinion that it is not the correct behavior PVs are not deleted on purpose as already explained.

[2020-05-21 07:17] #65 closed

[2020-05-22 05:41] #97 closed

[2020-05-22 06:42] vmwiz opened #116 "Wrong secret definition in example minioinstance-mcs.yaml"
The secret definition in `examples/minioinstance-mcs.yaml` uses environment variables names as keys:

[code]
It should be
[code]

[2020-05-22 06:44] nitisht commented on #116
Why do you think so @vmwiz ? We changed the operator to use env from secret to directly mount it in MCS container. You can just update the operator image to `2.0.1`

[2020-05-22 06:47] harshavardhana commented on #116
It was changed in 2.0.2 @vmwiz please use 2.0.2 instead.

[2020-05-22 06:47] #116 closed

[2020-05-22 06:50] nitisht commented on #105
Failed to list *v1.MirrorInstance: the server could not find the requested resource (get mirrorinstances.operator.min.io)

If no mirror instance CRD is installed.

Since the Operator is looking for both resources, it is better to log the error if one CRD is not found @sjmittal . I think this error is fine, and can be safely ignored in cases like yours. Closing this for now.

[2020-05-22 06:51] #105 closed

[2020-05-22 06:52] vmwiz commented on #116
Indeed :) You updated the operator deployment yaml which was still using 2.0.1 just after I downloaded it to test the kustomize functionality.
Thank you!

[2020-05-22 06:53] nitisht commented on #91
Please try with the latest set of examples, it should work fine. Closing this issue for now

[2020-05-22 06:53] #91 closed

[2020-05-22 12:08] loxal opened #118 "AGPLv3 license"
Did you picked the AGPLv3 license for the operator intentionally? It makes it impossible to deploy MinIO alongside non-AGPL licensed or non-OSS scenarios. Except you have some dual-licensing business strategy...

[2020-05-22 12:14] klauspost commented on #118
Correct, our subscription model provides commercial licensing options. See https://min.io/pricing or write `hello@minio.io` for more information.

[2020-05-22 12:14] #118 closed

[2020-05-22 16:15] #46 closed

[2020-05-23 02:07] abperiasamy commented on #118
GNU AGPLv3 license ensures all the enhancements and forks of MinIO remain Free Software always. Storage vendors (like Nutanix Objects) are forking MinIO and not contributing back. They don't even follow the attribution requirements of the Apache license.

[2020-05-25 14:42] dmayle opened #122 "Add envFrom/mirrorSecret to MirrorInstance"
**Is your feature request related to a problem? Please describe.**
MirrorInstance is not quite ready to replace our manual mirror manifests.  We use manual mc mirror deployments to mirror to persistent volumes which are backed up.  MirrorInstance currently required plaintext access keys, not taking advantage of all the tools to protect secrets in kubernetes

**Describe the solution you'd like**
Ei

[2020-05-25 14:46] dmayle opened #123 "Add volume suport to MirrorInstance"
**Is your feature request related to a problem? Please describe.**
MirrorInstance is not quite ready to replace our manual mirror manifests.  We use manual mc mirror deployments to mirror to persistent volumes which are backed up.  MirrorInstance assumes that you'll be mirroring between minio clusters, and so doesn't have the support to specify volumes that can be used as a mirror destination.

**

[2020-05-25 17:00] dmayle opened #124 "Nil pointer panic in minio operator 2.0.2 when readiness probe is not supplied."
I'm upgrading from 1.0.4 to 2.0.2 and trying to bring up a new minio cluster, but I can't get successful cluster creation.  Instead, I'm seeing a crash in the minio operator logs.  It seems to be because there is no readiness probe, which was not expected in previous versions for minio for clusters.

## Expected Behavior
No crash
## Current Behavior
Logs:
[code]
CRD:
[code]

## Steps to Reproduce

[2020-05-25 17:34] vmwiz opened #125 "Missing mcs metadata definitions in MinIOInstance crd"
## Expected Behavior

The `MinIOInstance` ressource object must keep `spec.mcs.metadata.labels` and `spec.mcs.selector.matchLabels` values from applied yaml

## Current Behavior

Both values are missing from the `MinIOInstance` object after applying the `minioinstance-mcs.yaml` example.

_Might be_ the reason why I cannot get MCS deployed too with the example. (haven't yet troubleshooted this one)

[2020-05-25 21:25] harshavardhana opened #127 "Always default to pod anti-affinity for minio-pods"
## Expected Behavior
Currently, multiple pods may get scheduled on the same host we need to avoid this.

## Current Behavior
Multiple pods get scheduled on the same host.

## Possible Solution
Add `podAntiAffinity` to schedule the pods exclusively to a host, MinIO should run exclusively on a host.

Current master of minio-operator does not have this feature

[2020-05-26 17:03] #124 closed

[2020-05-27 14:00] dmayle commented on #125
I ran into the same issue.  After making this change, I got a bit farther, but the mcs feature is not yet ready for use.  The issues I ran into:
 * mcs only listens on localhost, so I had to add MCS_HOSTNAME:0.0.0.0 to the mcs secret
 * the secret values (hash, salt, etc.) should all be 64 bytes of env-safe random data
 * Login seems to work by relaying your credentials directly to the minio insta

[2020-05-28 09:25] fanux opened #131 "Create local PV and storage class in operator."
I think user create PV and storage class is unfriendly, operator should do it.
[code]
Operator can run a job on node to create data dir, then create PVs.

[2020-05-28 09:37] nitisht commented on #131
Operator is supposed to run on wide variety of clusters, it is simply not possible to handle each specific cluster's environment and create PVs accordingly. So, managing PV is not a part of the operator.

This is in line with [Kubernetes Guidelines explained here](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#writing-portable-configuration).

[2020-05-28 09:37] nitisht commented on #131
Closing this as answered, @fanux

[2020-05-28 09:37] #131 closed

[2020-05-28 23:54] harshavardhana commented on #127
Affinity is governed local disks pv attached to nodes, pod affinity is not needed.

[2020-05-28 23:54] #127 closed

[2020-06-04 12:20] kalinon opened #136 "MinIO upgrade can cause lack of read/write quorum"
## Context
I am unsure how to properly write up this issue, as it seems to involve a few different things. The current operator does not update your `StatefulSet` when you change the image tag in the defined `MinIOInstance`. This may be intentional, but i can make a separate bug case for it if needed. So the current method i have been using to make changes to my `StatefulSet` is to delete the `Min

[2020-06-04 12:23] klauspost commented on #136
Thanks for the detailed report.

[2020-06-04 21:12] #125 closed

[2020-06-05 16:05] harshavardhana commented on #136
So AFAIK this is working as intended because you choose less parity, we can only protect you as much as your parity exists. If you are not generally confident about your hardware you should choose higher parity to sustain higher failure rate.

IT is better to generally buy hardware of higher quality to sustain lower parity where the failure rate of drives is manageable.

I don't think there is any

[2020-06-05 16:58] kalinon commented on #136
@harshavardhana thank you, that clarifies a lot. I used a lower parity because i have all the disks on raid already. The replacement was due to me having to resize the partition. I made the 2 disks the same size as the others.

I mainly wanted to make sure this was not a bug due to the encryption or upgrade. If it is not we can close this :D

[2020-06-05 17:04] harshavardhana commented on #136
That is why if this setup is critical you should have gotten our standard support model, where we perform architecture overview and security audits.

RAID is hell no for MinIO, you should simply provide the drives directly to MinIO it is more performant and more well understood. RAID rebuilds are terrible and can cause significant downtimes.

[2020-06-05 17:24] harshavardhana commented on #136
Thanks

[2020-06-05 17:24] #136 closed

[2020-06-05 18:53] nitisht commented on #123
This is not relevant anymore after #133

[2020-06-05 18:53] #123 closed

[2020-06-05 18:53] nitisht commented on #122
This is not relevant anymore after #133

[2020-06-05 18:53] #122 closed

[2020-06-11 14:58] vDMG opened #146 "add field serviceType on minioinstance CRD"
**Is your feature request related to a problem? Please describe.**
On GKE we can expose Google Managed Certificate only with NodePort service and not with Headless or ClusterIP. Actually is impossible to choose ServiceType with the operator.

**Describe the solution you'd like**
Let the users to choose which serviceType to use with a new parameter on the CRD

**Describe alternatives you've conside

[2020-06-11 15:18] nitisht commented on #146
You can create a service yourself as explained here https://github.com/minio/minio-operator/blob/master/examples/minioinstance.yaml#L11 and set the relevant type

[2020-06-11 15:21] vDMG commented on #146
Ok sounds good to me 👍

[2020-06-11 15:21] #146 closed

[2020-06-18 14:37] soulseen opened #151 "Set default bucket in MinIOInstace CR."
How to create a default bucket by declaring in MinIOInstace CR and it will be created automatically when the minIO instance is deployed.

[2020-06-18 14:58] nitisht commented on #151
That is not supported at the moment. Closing as answered, please join us on Slack for more questions

[2020-06-18 14:58] #151 closed

[2020-06-24 10:07] julianseeger opened #154 "Operatorhub Outdated"
https://operatorhub.io/operator/minio-operator points to version 1.0.3 and this Repository has Tags above v2.0.0.

## Expected Behavior
Operatorhub stable channel should point to a somewhat recent version (2.x.x).

## Current Behavior
It points to v1.0.3 which does not work with the examples of v2.0.0 (different apiVersion for MinIOInstance for example).

## Possible Solution
Push new version to o

[2020-06-24 14:19] vmwiz opened #155 "Reduce default volume size on example files"
Just experienced a dangerous behavior while trying to deploy `examples/minioinstance-mcs.yaml` ; 4 nodes with 4 volumes of 1Tb were spin up on my k8s cluster.

Obviously I should have checked the yaml before hitting apply but are you sure provisioning 16 Tb of storage space is relevant for an example file? Imagine the consequences on a pay-as-you-go service.

## Expected Behavior
For a working exa

[2020-06-24 15:30] vmwiz opened #156 "Handle custom CA certificates for MCS/Minio connection"
**Is your feature request related to a problem? Please describe.**
When deploying Minio operator on a cluster with a private CA, MCS cannot connect to Minio pods because the certifcate is not trusted. The following error message appears in the MCS pod logs: `error obtaining MinIO region: Get https://minio-internal-service.storage.svc.cluster.local:9000/minio/admin/v3/help-config-kv?key=&subSys=reg

[2020-06-24 16:37] kerneltime commented on #156
Thank you @vmwiz will look into.
Are you on our slack? I would like to learn more about how you are using the operator.

[2020-06-24 16:44] kerneltime commented on #155
@vmwiz that is just an example, you can edit it as you wish

[2020-06-24 20:01] #155 closed

[2020-06-24 20:16] harshavardhana commented on #155
Nothing dangerous about it, it is default value and we expect that you have atleast this much for any serious usage of MinIO.  Defaults for serious deployments, if you want to use a lower value for testing you are free to set it.

Always read docs, it is usually bad idea to copy paste things from internet without verification.

[2020-06-30 08:09] jerrypicasso opened #160 "how to use it on k8s 1.11 ?"
hi, is there any way to use minio-operator on k8s lower version like 1.11?

[2020-07-02 03:09] nitisht commented on #160
Operator uses the latest API from Kubernetes release 1.17. So there is no way currently to use it with 1.11.

[2020-07-02 03:09] #160 closed

[2020-07-02 03:12] jerrypicasso commented on #160
thx a lot for ur reply .

[2020-07-07 04:45] cameronbraid opened #164 "Add support for specifying pod priorityClassName"
Stateful set pods for minio instances should support a user defined priorityClassName

https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/

This way the user can schedule minio pods at a higher priority than their services that use them.  And can prevent minio pods from being evicted until after other less critical pods are evicted.

[2020-07-07 19:26] kerneltime commented on #164
Thank you @cameronbraid, will try to include this in up coming releases.
We would love to learn more about how you use the operator and minio. Feel free to use the public slack to chat more about it.

[2020-07-14 17:54] Alevsk commented on #156
@vmwiz Hi, if you are using the latest code of MCS `MCS_MINIO_SERVER_TLS_SKIP_VERIFICATION ` has been deprecated in favor of `MCS_MINIO_SERVER_TLS_ROOT_CAS`, you can provide there the certificate file names separated by comma, we will update the documentation.

[2020-07-14 17:56] harshavardhana commented on #156
It would be worth if we take a directory and load all certs from that common path.

[2020-07-15 08:39] vmwiz commented on #156
Looks nice but how am I supposed to make use of it with the operator? The MinioInstance CRD does not allow passing environment variables to the MCS container.

[2020-07-19 07:13] harshavardhana opened #170 "Support validation of input for volumePerServer if re-deployed"
## Expected Behavior
We should fail if users change lets say an existing deployment from

[code]

to

[code]

## Current Behavior
We leave into a crash loop and have to purge the deployment - we should avoid this and
fail early by looking up the existing deployment parameters.

## Possible Solution
Validate early in operator.

## Steps to Reproduce (for bugs)
As mentioned above

## Context
A user-

[2020-07-19 07:15] harshavardhana opened #171 "Crash in minioIOinstance validator"
## Expected Behavior
No crashes

## Current Behavior
[code]

## Possible Solution
Not sure

## Steps to Reproduce (for bugs)
Remove volumeClaimTemplates from the minioinstance.yaml and observe the crash

## Context
Stability issue

## Regression
Not sure

## Your Environment
k8s 1.18.3, latest minio-operator

[2020-07-19 07:16] dvaldivia commented on #171
Can you share the YAML for the `MinIOInstnace` ?

[2020-07-19 07:18] harshavardhana commented on #171
Just remove this

[code]

[2020-07-19 07:19] dvaldivia commented on #171
Can you also share the operator version used? on master this error seems to originate from
[code]
however this cannot produce an NPE unless `madmClnt` is null, the previous stack call is also different from master

[2020-07-19 07:22] harshavardhana commented on #171
[code]

[2020-07-19 07:22] harshavardhana commented on #171
whatever is referenced in the master I just used

[2020-07-19 07:23] dvaldivia commented on #171
I see, we still have `2.0.6` on the [master install yaml](https://github.com/minio/minio-operator/blob/master/minio-operator.yaml)

[2020-07-19 07:24] dvaldivia commented on #171
can you try on `2.0.9` and tell me if you see the crash?

[2020-07-19 09:02] harshavardhana commented on #171
Still crashing

[code]

[2020-07-19 18:43] dvaldivia commented on #171
Found it, the missing volume spec causes the NPE

[code]
Therefore we need to declare "Invalid Volume Claim Template" if the `MinIOTenant` doesn't declare this

[2020-07-20 06:08] #171 closed

[2020-07-21 12:52] cpanato opened #182 "Migrate from version 1.X to 2.X"
Hello

We are using the minio operator 1.x version but I saw there are an upgrade release and the API move to v1.
However, I did not find any documentation on how to upgrade existing deployments and how to upgrade from v1 to v2.

There is any guide?
thanks!

[2020-07-21 21:44] Alevsk commented on #156
@vmwiz we will discuss internally about this, in the meantime, as a workaround you can edit the YAML definition of an existing minio statefulset and add there the required environment variables and secrets

[2020-07-21 22:37] rajinator commented on #156
@Alevsk will the operator not override customizations set in YAML definition? I am trying to a similar thing on an OKD cluster

[2020-07-23 17:41] kerneltime commented on #182
@cpanato can you tell us more about your environment? You can reach out to us https://subnet.min.io/support if you need help with production deployments.

[2020-07-23 17:58] nitisht commented on #182
We are working on another major change and will be releasing v3.0.0 soon, if you want to migrate, it is probably better to wait for operator release v3.0.0

[2020-07-24 13:19] prasadrajesh opened #194 "Does Minio-Operator support blob storage integration with azure?"
I want to integrate Azure Blob storage through Minio-Operator. Can anyone help me on this point because of i couldn't find any documents for blob in this repo.

I have tested Docker and Helm both has that features.

Thanks in advanced

[2020-07-24 13:22] nitisht commented on #194
MinIO Gateway is not supported with Operator currently and it is not on the road map as on now

[2020-07-24 13:22] #194 closed

[2020-07-25 22:46] Alevsk commented on #156
@rajinator you can change the statefulset yaml definition once its created by the operator, there should not be any issues with that

[2020-07-25 23:07] dvaldivia commented on #156
@Alevsk @rajinator those changes may get be discarded if there's changes to the Tenant (in case of operator v3) or MinioInstance

[2020-07-27 04:51] amgads opened #200 "couldn't pull docker pull the "minio/k8s-operator:v3.0.2" image"
I'm trying to try installing minio:
======================
Trying to get pull the latest minio docker image, but getting timeout

docker pull minio/k8s-operator:v3.0.2
Error response from daemon: Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)

## Regression
 No
 v3.0.2

## Your Environment

* Version us

[2020-07-27 04:57] harshavardhana commented on #200
Looks like a network error please fix your local network

[code]

[2020-07-27 04:57] #200 closed

[2020-07-27 07:32] cpanato commented on #182
@kerneltime @nitisht thanks for the reply, usually when you deprecate the `v1beta1` and move to `v1` you have some time that you serve both in order to have the users to migrate to the new. My understanding to achieve that is we write some webhook conversion to make that transition and not just delete and recreate the API version including the crd.

We use minIO operator together with our [operato

[2020-07-27 07:47] dvaldivia commented on #182
@cpanato do you have any multi zone deployments?

[2020-07-27 07:50] cpanato commented on #182
@dvaldivia we dont have in our side, but cannot say if other users have it.

[2020-07-27 07:52] harshavardhana commented on #182
@cpanato what is the intention of upgrade here? is there anything specific you are looking to upgrade to?

[2020-07-27 07:55] dvaldivia commented on #182
@cpanato for single zone deployments there may be an easy path to upgrade as long as the PVCs attaches to the statefulset are not destroyed, however there may be a problem where you need to spread the tenants across multiple namespaces.

Are you running multiple MinIO instances in the same namespace?

[2020-07-27 08:23] cpanato commented on #182
@harshavardhana @dvaldivia No, each MinIO instance has his own namespace.

For me the major issue is the v1beta1 does not exist anymore and how do I smoothly transition to v1 without deleting the existing deployment. Also, the CRD changed, do we need to keep both during the transition?

[2020-07-27 14:50] croeck opened #201 "Console not getting deployed, operator stuck with error: context deadline exceeded"
I am unable to provision the console with the operator.
The StatefulSet for minio is starting, but the console pods are not, but the operator throws errors instead.

## Expected Behavior
1) The operator processes the console part of the custom resource and spawns the console pods.
2) I have more options at hand to debug this further. Right now we can't change the logging level by adding an environ

[2020-07-27 21:14] dvaldivia opened #202 "Need to detect changes in `resources` per zone on Tenant and apply the change to the statefulset"

[2020-07-28 01:03] harshavardhana commented on #202
https://github.com/minio/operator/issues/170 we shouldn't apply any change to existing statefulset, since any change i.e

- increase in the number of servers
- increase in the number of drives

Won't work unless its a zone expansion - if an existing zone is being meddled with, should be rejected.

[2020-07-28 01:04] harshavardhana commented on #202
if the change is just in the change in memory, cpu then we can proceed to deploy.

[2020-07-28 01:05] harshavardhana commented on #154
Operator hub is deprecated, we have no intention of maintaining it. We are moving towards kubectl plugin model.

[2020-07-28 01:05] #154 closed

[2020-07-28 06:05] croeck commented on #201
I assume the issue was related to my secret contenting random bytes. When I now updated the secret to contain only alphanumeric characters, the issue is gone and all pods plus the console start properly.

[2020-07-28 06:05] #201 closed

[2020-07-28 13:51] amgads commented on #200
Thanks Harshavardhana -- found IPtables setup

[2020-07-28 15:23] croeck commented on #156
So now the tenant does allow us to specify env variables for the console, such as `MCS_MINIO_SERVER_TLS_ROOT_CAS`.
However, the variable expects filenames only and we can't mount any files to the deployment produced by the operator. So still stuck here.

[2020-07-28 18:26] estherkim11111 opened #211 "Getting `no TLS certificate is found on the local machine` error"
FYI @harshavardhana
Any pointers about what steps I could be missing, something I could be doing wrong, or a better interpretation of the error message below would be appreciated.
## Expected Behavior

minio pods should come up healthy with no errors in the logs

## Current Behavior

getting in minio pod logs
[code]
even though I have specified in the minioinstance yaml
[code]
and created a secret

[2020-07-28 19:37] kerneltime commented on #211
@estherkim11111 can you try using a more recent version? The latest release is `3.0.2`

[2020-07-28 20:29] estherkim11111 commented on #211
@kerneltime we need to use that version for that version of the api `apiextensions.k8s.io/v1beta1` vs `apiextensions.k8s.io/v1`

[2020-07-28 22:53] harshavardhana commented on #211
@estherkim11111 unfortunately we cannot support v1beta1 anymore please upgrade your k8s versions.

[2020-07-28 23:02] dvaldivia commented on #202
Fixed by #209

[2020-07-28 23:02] #202 closed

[2020-07-28 23:04] dvaldivia opened #214 "Multiple Tenants in a single Namespace status malfunction"
If multiple tenants are created on the same namespace, any tenant after the first one goes into status "Namespace already contains tenant" however, this status is also applied to the valid first Tenant on the namespace as well

We should not change the status of the valid tenant.

[2020-07-29 02:09] dvaldivia opened #217 "Tenant.Spec.metadata field is not stored"
When applying a `Tenant` that contains custom metadata in `.Spec.metadata` it's lost. This is not the Resource `.metadata` that is being reported.

To reproduce:

1. create a Tenant with Spec.metadata like in our examples
2. kubect get tenant yourTenant -o yaml
3. the custom metadata should be lost

[2020-08-02 08:22] immanuelfodor commented on #201
First, I assumed that I included a \n at the end of the base64 input strings but no, it was not the problem. Then I thought of YAML not supporting end of line comments, so the example comments would be mixed with the base64 values but no, removing the comments did not solve it. I still get `E0802 08:19:12.142312       1 main-controller.go:331] error syncing 'minio/minio': Operation cannot be fulfi

[2020-08-02 09:44] immanuelfodor commented on #156
Bumped into the same issue with Console and self-signed cert-manager certs:

[code]

A new error line is added upon clicking the Console login button. Any way to trust the certs or skip the cert verification for Console like the above env variable for MCS?

[2020-08-02 09:47] immanuelfodor commented on #156
Well, the deployment/pod contain these envs, interesting:

[code]

[2020-08-02 10:08] immanuelfodor commented on #156
According to https://github.com/minio/console#connect-console-to-a-minio-using-tls-and-a-self-signed-certificate and https://github.com/minio/console/issues/189#issuecomment-661039941 , I could also define the `CONSOLE_MINIO_SERVER_TLS_ROOT_CAS` variable for Console in the `console-secret` (https://github.com/minio/operator/blob/master/examples/tenant-console.yaml#L15) but there is no way to make

[2020-08-02 10:59] immanuelfodor commented on #201
Well, it was indeed `\n` chars at the end, fail :D Just to make sure, also removed the line ending comments from the example.

If you generate the secrets automatically, get rid of the last byte as in:
`openssl rand -hex 12 | tee /dev/tty | head -c -1 | base64`

[2020-08-03 07:27] immanuelfodor commented on #156
With the release of 3.0.7, the `externalCertSecret` can be added to the Console, so now it works fine with Minio. Thank you for the quick fix!

[2020-08-03 07:29] dvaldivia commented on #156
@immanuelfodor no problem, thanks for the patience, this week specially we've been cranking releases, but Operator is overall way much more stable thanks to that, please let us know if you find any other issues, we also welcome PRs.

[2020-08-03 07:29] #156 closed

[2020-08-03 07:30] #217 closed

[2020-08-07 05:45] immanuelfodor opened #241 "Operator can't update Minio and Console images"
## Expected Behavior

Upon changing the Minio and Console image tags in the Tenant specification, the operator updates these instances automatically.

## Current Behavior

The operator pod log says updating the image is unsuccessful and changing this field is forbidden.

## Possible Solution

- Extending the list of allowed fields to change for updating Minio and Console. The operator implements t

[2020-08-07 09:12] nitisht commented on #241
Thanks for reporting @immanuelfodor we'll take a look

[2020-08-07 09:21] harshavardhana commented on #241
FWIW @immanuelfodor using NFS as the backend drives for MinIO is not recommended and supported. You should bring regular drives. NFS doesn't provide the right consistency guarantees which disk filesystems can provide so you are prone to unexpected bugs which are a fact if you using NFS let alone use it in distributed mode.

[2020-08-07 09:43] harshavardhana commented on #241
I tried reproducing but couldn't

[code]

NOTE: I am using our own `direct-csi` here with properly local drives

[code]

[2020-08-07 10:12] immanuelfodor commented on #241
Hmm, so you think the problem lies at around using NFS in the first place, interesting. So if I replace it with direct-csi, it could apply the change instantly? I saw the direct-csi remark in the readme but as the NFS provisioning was already in place, I went for using that instead of setting up something yet unknown. This is a 3-node k8s cluster running on 3 identical VMs on NVMe, could I use the

[2020-08-07 12:52] harshavardhana commented on #241
I don't think it is related to CSI - that is a general recommendation on why NFS should be avoided, MinIO over NAS is not a good idea unless you are using `minio gateway nas`

Are you saying that updates were never really applied? @immanuelfodor

[2020-08-07 14:43] immanuelfodor commented on #241
Oh, thanks, I was not familiar with the that command. However, I feel I couldn't start the pods this way (`gateway nas /export`), there is no pod command key in the CRD. Would be great to keep the NFS storage this way instead of filling up the limited node filesystem.

Yes, it has never applied it, the pods are untouched. If I delete the operator pod, and it's recreated by k8s, the pod output hang

[2020-08-07 14:49] immanuelfodor commented on #241
Well, it has just produced some new error lines, then hanged again at the next attempt:

[code]

[2020-08-07 17:08] harshavardhana commented on #241
There are no fundamental problems that are happening on the system - most probably this is because I think your usage of NFS @immanuelfodor - looks like the local FS for the container is not able to handle the even simple update concurrency requirements.

[2020-08-07 17:38] #214 closed

[2020-08-07 18:07] immanuelfodor commented on #241
Now I'm fully convinced to switch to `direct-csi`, I'll look into it on the weekend. I'd keep this ticket open until that and report back what happened if it's okay for you. Maybe this will worth a huge ⚠️ warning in the readme if it'll work fine with it 😃

[2020-08-08 05:46] immanuelfodor commented on #241
Trying out direct-csi, I've bumped into https://github.com/minio/direct-csi/issues/11 as the https://github.com/minio/operator/blob/master/docs/using-direct-csi.md page doesn't mention the new `KUBELET_DIR_PATH` variable which was added in https://github.com/minio/direct-csi/pull/14 . With RKE, it has to be `KUBELET_DIR_PATH=/var/lib/kubelet` to avoid the same pod mount error the original reporter

[2020-08-08 16:47] harshavardhana commented on #241
Understand it was an issue with the master branch. Moved the offending commit to dev branch.

[2020-08-08 17:17] immanuelfodor commented on #241
Yes, the direct-csi apply is fixed (thank you for that), my comment above is about adding the `KUBELET_DIR_PATH` to the csi setup docs here is this repo. If the variable is not set, it produces invalid `hostPath` volumes that prevents the pods start as in https://github.com/minio/direct-csi/issues/11 Or moving the commit fixed it as well?

[2020-08-08 17:19] immanuelfodor commented on #241
In the meantime, somebody has created the PR for it: https://github.com/minio/operator/pull/244

[2020-08-08 17:43] immanuelfodor commented on #241
I could finally try out the operator with the `direct-csi` driver if it can update the images, and half-yes, the Minio image was updated fine:

[code]

However, the console pod is still untouched after 10 minutes. I was trying to update both images as in:

[code]

[2020-08-08 18:55] harshavardhana commented on #241
Not sure why that is not updated, it may be a bug // cc @dvaldivia @nitisht

[2020-08-10 13:52] nitisht commented on #241
Yes this is a bug, fixing

[2020-08-10 15:21] #241 closed

[2020-08-10 21:47] sstubbs opened #248 "Support Certificates Without CA"
**Is your feature request related to a problem? Please describe.**
I've created a tenant using:
[code]
This is a letsencrypt secret created by certmanager. When the statefulset is created the pod has an error as `ca.crt` isn't present. If I delete this it seems to work but I'm wondering if this could be done by the operator.

**Describe the solution you'd like**
Perhaps a type could be added witho

[2020-08-10 22:01] sstubbs commented on #248
I've noticed `externalClientCertSecret` doesn't have this problem as it links the ca.crt to the certificate. Perhaps the non client certificate could work in the same way.

[2020-08-11 02:38] Alevsk commented on #248
@sstubbs `cert-manager.io/v1alpha2` requires for your secret to have the `ca.crt` field, to support a secret without CA field you can use the type `kubernetes.io/tls` instead in your `externalCertSecret `

[2020-08-11 02:38] #248 closed

[2020-08-11 10:21] sstubbs opened #249 "Specify Custom URLs KES and Console"
**Is your feature request related to a problem? Please describe.**
I'm using https://github.com/minio/operator/blob/master/docs/kes.md with vault backend using approle. It works well when `requestAutoCert: true` however when I set it to false and use my own letsencrypt certificates. the kes job that starts to create the key gives me this error. `too many identities: more than one certificate is pr

[2020-08-11 10:29] sstubbs commented on #248
Thank you very much. This solved my issue.

[2020-08-11 12:00] sstubbs commented on #249
I've tried adding a self signed certificate for kes and am still getting the same error so perhaps it isn't related to the issue with console.

[2020-08-11 12:32] rerime opened #250 "[faq] More documentation and clarification"
Hi!
Would be great, if you add more clarification, how to expand or shrink minio cluster. How to calculate disk and server numbers, what can I change after creation? What do you mean by zones, is it like redundancy zones in AWS (a,b,c) or different datacenters?
Thanks in advance!

[2020-08-11 17:05] sstubbs commented on #249
After some help with this on slack I've realised that kes doesn't work well with letsencrypt certificates. So if you want a public accessible minio with kes make sure to set the `kes.externalCertSecret` and `externalClientCertSecret` to self signed certificate. `externalCertSecret` and `console.externalCertSecret` can use letsencrypt certificate.

[2020-08-11 17:09] dvaldivia commented on #249
@sstubbs `KES` is intended for encryption of the objects, it sits in between `MinIO` and a `KMS` service (Key Management Service), for internet facing TLS (or SSL) requirements such as Let's Encrypt certificates, you only need to provide those to `MinIO` and `Console` via external certificate secret as you mentioned.

If you use `autoCert:true` on the `Tenant` the operator will attempt to generate

[2020-08-11 17:12] sstubbs commented on #249
Understood. I am happier with KES not being publicly accessible but wasn't sure exactly how it all tied together. It's working well for me now with this.

[2020-08-12 05:56] nitisht commented on #250
Expansion is done by adding zones https://github.com/minio/operator/blob/master/docs/adding-zones.md. Shrinking is not supported as of now. We may be support later.

It is upto you to decide disk and server based on your capacity requirements. MinIO needs 2x raw capacity by default. It can be configured as per https://github.com/minio/minio/tree/master/docs/erasure/storage-class

[2020-08-12 06:01] #250 closed

[2020-08-12 06:04] nitisht commented on #249
Based on comments doesn't look like anything to be done here. closing. Feel free to reopen if there is anything else @sstubbs

[2020-08-12 06:04] #249 closed

[2020-08-12 06:19] nitisht commented on #211
AFAICS, nothing to be done here from MinIO. Closing

[2020-08-12 06:19] #211 closed

[2020-08-12 07:48] nitisht commented on #170
This is already working due to statefulset checks builtin - here is the error message

[code]

Can we close this @harshavardhana

[2020-08-12 09:50] harshavardhana commented on #170
Yes @nitisht

[2020-08-12 09:50] #170 closed

[2020-08-12 10:15] rerime commented on #250
@nitisht So in general I need minimum 4 nodes in k8s and setup like this?
[code]
And more `volumesPerServer` if I have more independent hard drives per k8s node, am I correct?

[2020-08-12 12:24] nitisht commented on #250
Yes, `volumesPerServer` is number of volumes you have available per Pod

[2020-08-13 04:49] immanuelfodor commented on #241
Console image update now works with the latest release, thank you for the fix!

[2020-08-13 08:45] #164 closed

[2020-08-13 15:47] rerime opened #256 "Confusing with imagePullSecret"
Hi again!
How to define imagePullSecret in https://github.com/minio/operator/blob/master/examples/tenant.yaml?
NOT works
_The Tenant "minio" is invalid: spec.imagePullSecret: Invalid value: "array": spec.imagePullSecret in body must be of type object: "array"_
I can't understand this error message :(
[code]
Also confusing with name, because it is always `imagePullSecrets` in deployment, docker etc

[2020-08-13 16:20] harshavardhana commented on #256
Looks like you are using an older operator with new tenant.yaml, we have changed the CRD types so you should fully update the CRD as well before deploying the new tenant.

[2020-08-14 10:07] rerime commented on #256
@harshavardhana
Could you try to reproduce please.
I took everything https://github.com/minio/operator/tree/v3.0.12/operator-kustomize
with operator 3.0.12
Same error:
`The Tenant "minio" is invalid: spec.imagePullSecret: Invalid value: "array": spec.imagePullSecret in body must be of type object: "array"`

My config file
[code]

[2020-08-14 15:48] harshavardhana commented on #256
Which k8s version are you running here ? @rerime

[2020-08-14 17:45] harshavardhana commented on #256
This is not correct @rerime it should be

[code]

We only support single imagePullSecret

[2020-08-17 13:45] rerime commented on #256
Thanks, it works!
Tested with versions:
- operator `3.1.13`
- minio `RELEASE.2020-08-16T18-39-38Z`

[2020-08-17 13:45] #256 closed

[2020-08-20 04:45] jabbors commented on #68
I'd be very interested to see these features integrated into this operator.

Instead of supporting it in some other project like https://github.com/minio/console, which replaces the now archived https://github.com/minio/m3 project, I strongly believe the operator shall manage the entire life cycle.

I'm willing to send you a PR if @bclermont doesn't have time.

[2020-08-21 02:32] cesnietor opened #262 "Tenants report Ready even when pods are not still ready"
When a tenant is created and the pods are being created, the Tenant's status is set to `Ready` but pods are still initializing which can take some seconds, hence, server is not ready.

## Expected Behavior
Status should give a more detailed information of the Tenant's status

## Current Behavior
Tenant's status is set to Ready when the pods are created

## Possible Solution
We can possibly  call /

[2020-08-21 16:27] sstubbs opened #263 "KES does not seem to mount ca when externalCertSecret set to cert-manager.io/v1alpha2"
I've got the operator running with letsencrypt certificates for external and a selfsigned certificate for internal. The only issue is and perhaps I'm not understanding something but I have to patch the kes statefulset to add the ca mount. I thought this was because I was using `type: kubernetes.io/tls` under kes but I've now tried `cert-manager.io/v1alpha2` and have the same issue.

## Expected Be

[2020-08-27 01:04] gwnet opened #269 "[FAQ] need one standalone minio deploy example yaml with direct CSI support"
Hello minio expert. I am new to K8S, I only deploy two node. I want to deploy minio just in one pod that with four disks from direct CSI.

could you please give me one yaml example that I can run through?

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Regression

## Your Environment

* Version used (`minio-operator`):

[2020-08-31 02:00] mitchellmaler commented on #68
@nitisht @harshavardhana Since m3 is archived and has been replaced with console do you expect console be where this capability should exist or is that out of scope for that project?

[2020-08-31 02:30] harshavardhana commented on #68
Most functionality will be in console, operator is just headless here with just APIs so feel free to move it there.

[2020-08-31 18:08] stobias123 opened #274 "OSX Plugin?"
**Is your feature request related to a problem? Please describe.**
I following docs on readme, I have to use minio kubectl plugin for installation.

**Describe the solution you'd like**
Please support osx in goreleaser builds so I can follow instructions

[2020-08-31 18:09] harshavardhana commented on #274
OSX/macOS is not really a priority for us @stobias123 we will consider this in the future.

You may use kustomize as an alternative for now - `kubctl apply -k`

[2020-08-31 19:45] stobias123 commented on #274
@harshavardhana  - any chance you could keep the old readme in docs folder then? Had to check out last version tag to find out how to deploy with regular manifests.

[2020-08-31 19:46] stobias123 commented on #274
PS - I built locally by just adding...
[code]

Any reason not to commit this as a fix? I can submit the PR if you' dlike

[2020-08-31 19:49] harshavardhana commented on #274
PR in #275

[2020-08-31 20:37] harshavardhana commented on #274
Fixed by #275

[2020-08-31 20:37] #274 closed

[2020-08-31 20:39] harshavardhana commented on #262
@cesnietor are you planning to send a fix here?

[2020-08-31 20:57] cesnietor commented on #262
No, I tested it with 3.0.13 and was showing the status correctly so no issue anymore.

[2020-08-31 20:57] #262 closed

[2020-08-31 23:43] gwnet commented on #269
any minio expert can help me?

[2020-09-01 07:51] immanuelfodor opened #276 "Provide imagePullPolicy option for deployment"
**Is your feature request related to a problem? Please describe.**
Docker is introducing an API request limit for free/anonymous users for image pulls which is counted towards manifest requests not actual layer downloads. However, Console is being deployed with `imagePullPolicy: Always`.

**Describe the solution you'd like**
`imagePullPolicy` should be configurable from the CRD in favor of users w

[2020-09-02 03:47] immanuelfodor commented on #276
Update: the Minio `StatefulSet` is also using `Always` as pull policy, not just the Console.

[2020-09-02 05:10] immanuelfodor commented on #276
Nevermind, I've found https://github.com/minio/operator/pull/257 in the meantime, I was not aware of this change :)

[2020-09-02 05:10] #276 closed

[2020-09-02 21:32] Magoli1 opened #280 "Windows support for kubectl minio plugin"
**Is your feature request related to a problem? Please describe.**
I would like to install the new kubectl minio plugin for windows, but I cant find a way to do that.

**Describe the solution you'd like**
It would be great, if we had a release asset to be able to easily install it.

**Describe alternatives you've considered**
I could also imagine having a short instruction on how to do it manually

[2020-09-04 08:10] jneo8 opened #283 "Error: no Auth Provider found for name "gcp""
Hi,

I just create a GKE to testing

but keep getting `Error: no Auth Provider found for name "gcp"` error

## Your Environment
* Version used (`minio-operator`): 3.0.14
* Environment name and version (e.g. kubernetes v1.17.2): 1.16.13-gke.1

[2020-09-04 13:50] dvaldivia commented on #283
Is this error inside the operator container logs or where?

[2020-09-05 22:04] Magoli1 opened #285 "More documentation on tenant expansion"
**Is your feature request related to a problem? Please describe.**
When reading the documentation I came along the tenant expansion process described [here](https://github.com/minio/operator/blob/master/docs/expansion.md). I wonder if the described downtime is still happening, as #150 seems like a fix to that? If I understand correctly, the tenant expansion will add a new zone. How does this lead

[2020-09-05 22:12] dvaldivia commented on #285
We do have a new hot expansion feature that adds the new zone with almost zero downtime, we may need to update the documentation to reflect that, please do give it a try and observe how the pods MinIO process restart without actually killing the pod after a zone has been added

[2020-09-08 03:52] heww opened #288 "Please provide method to uninstall/update operator in minio plugin"
**Is your feature request related to a problem? Please describe.**
I created an operator through minio plugin but use the wrong `--namespace-to-watch`, I want to reinstall the operator with the correct argument, but I can't do that.

**Describe the solution you'd like**
Want to update command to change the operator

**Describe alternatives you've considered**
If no way to update the operator insta

[2020-09-08 04:13] harshavardhana commented on #288
kubectl delete -k github.com/minio/operator

[2020-09-08 04:13] #288 closed

[2020-09-08 21:14] christianh814 opened #289 "SCC Error on OpenShift"
Deploying the operator using the kustomize method...

[code]

Produces the following output on OpenShift 4.5

[code]

## Expected Behavior
In other version of the operator, no scc edits were required. It was as simple as running...

[code]

## Current Behavior

Now, you need to run this to make it work..

[code]

This will make the pod run...

[code]

## Possible Solution

Any reason why `1000` is

[2020-09-08 21:17] harshavardhana commented on #289
this is because we choose the security context in our yamls - not sure why Openshift denies this, they should simply honor the security contexts specified in the yaml.

[2020-09-08 21:21] dvaldivia commented on #289
Pod security context was added recently, this was added because we don't need to run as root even inside the container, perhaps the user id chosen is not compatible with openshift as the error suggests?

You could get around this meanwhile by doing an overlay with the fixes that you are doing manually and install the operator in that manner.

Before we had a long long yaml with everything in it, t

[2020-09-08 21:21] christianh814 commented on #289
It seems like the `1000` value is out of the allowed range

[code]

[2020-09-08 21:47] dvaldivia commented on #289
that error seems to be openshift specific, the kubernetes documentation uses 1000 as an example

https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

[2020-09-08 21:50] dvaldivia commented on #289
similar in openshift 4.5 documentation, is there something custom about your setup @christianh814 ?

https://docs.openshift.com/container-platform/4.5/authentication/managing-security-context-constraints.html

[2020-09-08 21:50] harshavardhana commented on #289
@dvaldivia this is part of OpenShift default security context constraints, there is nothing we need to do, You just have to configure the correct runAsUser or runAsGroup or remove them so that Openshift can force the container to run under a specific SCC

Closing this as not our problem.

[2020-09-08 21:50] #289 closed

[2020-09-08 21:51] dvaldivia commented on #289
@harshavardhana agree, even the documentation for openshift 4.5 shows an example using user 1000 so it may be something on their setup

[2020-09-08 22:10] Magoli1 commented on #280
@harshavardhana Thanks for #281. Works like a charm!
For everyone interested: Procedure to install it is the same as for linux, you only need to add it to your path and in my case I also needed to rename it to ``kubectl-minio.exe``.
🚀

[2020-09-08 22:10] #280 closed

[2020-09-09 01:57] jneo8 commented on #283
After enter `kubectl minio operator create` in CLI

[2020-09-17 13:22] stefanhenseler opened #297 "Make InitContainerImage Configureable"
**Is your feature request related to a problem? Please describe.**
Yes, We are using a private registry and would like to change the registry for all images of the deployment.

**Describe the solution you'd like**
Add an additional property in the Tenant spec called 'InitContainerImage'.

**Describe alternatives you've considered**
None, I think this is the only way :).

**Additional context**
Usi

[2020-09-17 23:59] #297 closed

[2020-09-21 15:30] stefanhenseler commented on #283
I had the same issue when I tried to start the operator out-of-cluster using the following command:

`
go run . --kubeconfig ~/.kube/config
`

I came across this issue: https://github.com/hashicorp/terraform-provider-kubernetes-alpha/pull/55/commits/33ca97735b3b0bc08f25248cf16fbf34f23852a8#diff-d8a75a1487ffd04d33050588d43df97d

and adding the import to minio-operator/pkg/controller/cluster/main-co

[2020-09-21 17:00] harshavardhana commented on #283
Please send a PR @stefanhenseler

[2020-09-21 22:49] stefanhenseler opened #303 "Console deployment uses minio prometheus annotations"
The console deployment seems to add the minio endpoint for the prometheus scrape config. Does the console have a prometheus metrics endpoint? I see lots of errors in prometheus trying to scrape this target.

[code]

## Expected Behavior
prometheus is able to scrape the console metrics.

## Current Behavior
prometheus can't scrape metrics.

## Possible Solution
1. Fix the endpoint and port.
or:
2.

[2020-09-21 22:52] Alevsk commented on #303
@stefanhenseler hi, currently Console doesn't have a prometheus endpoint

[2020-09-22 03:42] harshavardhana commented on #303
I think the issue is that operator sets wrong annotations for console which points to prometheus? @Alevsk

[2020-09-22 04:45] Alevsk commented on #303
Yes Harsha, the issue is we are cascading annotations, we are discussing this with @dvaldivia to find another way add annotations to all Tenant pods talking this into consideration

[2020-09-22 06:04] #303 closed

[2020-09-22 06:13] Alevsk commented on #303
@stefanhenseler we fixed this issue on https://github.com/minio/operator/pull/305 PR, now labels and annotations will not cascade to Console and instead users can define necessary data using the `Labels`, `Annotations` and `NodeSelector` fields

[2020-09-22 06:21] Alevsk opened #306 "support for deploying Minio Tenant with multiple certificates"
**Is your feature request related to a problem? Please describe.**
Minio supports multiple certificates via SNI, we need a way for operator to deploy tenants taking advantage of this feature

**Describe the solution you'd like**
Create tenant via CRD should support an array of secrets (KeyPairs) that hold multiple TLS certificates to be served by Minio

[2020-09-24 17:42] dvaldivia opened #310 "Support for Volume Expansion"
We soon will have the need to support volume expansion, according to the [official documentation](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims) this is supported as long as the storage class has the field `allowVolumeExpansion:true`

If the requirement on the storageclass is met, we should then go on and modify the zone's PVC template's and pr

[2020-09-24 17:43] harshavardhana commented on #310
if the PVCs allow expansion then MinIO doesn't do anything special @dvaldivia - this expansion is different than Zone expansion in MinIO

[2020-09-24 17:54] dvaldivia commented on #310
yes, this is for when they want to  make the volumes larger (1TB volumes to 4TB for example)

[2020-09-24 18:02] dvaldivia commented on #310
from the docs
[code]

[2020-09-28 18:16] tobernguyen opened #314 "Custom Resources for Bucket, User, Bucket Policy, and Bucket Lifecycle"
**Is your feature request related to a problem? Please describe.**
I want to configure MinIO Tenant via discrete CRs for things like Bucket creation/management, User management, Bucket Policy, and Object Lifecycle. The only way to manage all of the aforementioned configurations is via MinIO Client (`mc`). Therefore, I couldn't define them as code to have a complete Infrastructure as Code solution.

[2020-09-29 19:53] sstubbs opened #317 "Cannot Enable Console"
Enable console by adding:
[code]
and
[code]

## Expected Behavior
Console deployment to be started.

## Current Behavior
It was working but since updating to the latest version of the operator when I enable this the console deployment doesn't start and I get the following in the operator logs:
[code]
When I remove the console part of the tenant and update the tenant this error disappears.

## Poss

[2020-09-30 01:21] tobernguyen commented on #285
I'm seeing a new Statefulset is created for the new zone, and then the rolling update happens for the existing zone. There is still a considerable amount of downtime from what I'm seeing. My setup is a tenant with 4 servers, 1 disk each server then I added a new zone with the exact same config (4 servers, 1 disk each server). The method of adding a new zone is to modify the existing Tenant CR and

[2020-09-30 01:49] harshavardhana commented on #285
Using statefulset outisde of operator is doesn't support hot expansion @tobernguyen

[2020-09-30 01:57] tobernguyen commented on #285
Sorry if I didn't state it clearly but I'm not using anything outside the operator. I just changed the Tenant CR definition. Here are the steps:

1. Deploy a new MinIO Tenant with just one zone of 4 servers, 1 disk each server
[code]
2. Create a small program to constantly write new files to bucket and run it
[code]
3. Modify the CR to add a new zone with exactly same config
[code]
4. Deploy the C

[2020-09-30 02:01] harshavardhana commented on #285
I don't think this makes sense @tobernguyen so looks like there is some other setup issue here.

[2020-09-30 02:06] tobernguyen commented on #285
What doesn't make sense?

Here is my full Tenant configuration
[code]

[2020-09-30 02:10] tobernguyen commented on #285
What doesn't make sense?

Here is my full Tenant configuration
[code]

And a bit more of the log from the program I wrote to constantly write new files

[code]

[2020-09-30 02:12] tobernguyen commented on #285
Let me know if you want me to do more/other tests with different configurations @harshavardhana

[2020-09-30 11:34] nitisht commented on #317
can you confirm the MinIO version @sstubbs ? Also, is the liveness check working for the MinIO Cluster?

[2020-09-30 11:40] nitisht commented on #306
Fixed by #318

[2020-09-30 11:45] sstubbs commented on #317
Hi @nitisht the same as the example
[code]
I don't any error events generated from the liveness check. Is there something else I should be checking?

I was using
[code]
to install the operator before and it worked. I've reinstalled it 3 times over the last 3 months and it has always worked. I've now changed to using the kubectl plugin as having a proper release version of the operator is definitel

[2020-09-30 11:58] sstubbs commented on #317
I get this error https://github.com/minio/direct-csi/issues/20 when I restart microk8s but this has never effected minio working or the console in the past.

[2020-09-30 17:42] tobernguyen commented on #285
I found my problem. When I uncommented the second zone, I have accidentally removed the `affinity` section from the first zone, and that `affinity` section is now attached to the second zone. And that's why the statefulset for the first zone was rolled.

However, there is still a very short amount of service interruption (got 503 from the client) during the expansion. I believe this is because Ser

[2020-09-30 17:46] harshavardhana commented on #285
It will not @tobernguyen client is supposed to retry k8s networking is poorly designed for these situations - We will have a better solution in operator instead.

[2020-10-01 18:57] #306 closed

[2020-10-08 23:49] Ares3266 commented on #283
Can I bump this issue please. Does anyone have a worvalid workaround?

[2020-10-09 00:01] harshavardhana commented on #283
Closed by #300 / 108517d65557b79b41167bca5f053627d9af85e1

[2020-10-09 00:01] #283 closed

[2020-10-10 05:02] dvaldivia opened #333 "Adding Zone causes to re-request TLS certificates for Tenant"
Adding a zone to a tenant causes the certificates to be generated/requested again and fail

[code]

[2020-10-11 03:42] harshavardhana commented on #333
Should be fixed by https://github.com/minio/operator/pull/334

[2020-10-13 18:59] MikeLReminderM opened #337 ""Error: unknown flag: --secret" when using Operator"
Operator isn't accepting the --secret flag.

## Expected Behavior

I would expect this command to provide me with a sample yaml file, as per the Operator docs:

kubectl minio tenant create --name tenant1 --secret tenant1-secret --servers 4 --volumes 16 --capacity 16Ti -o > tenant.yaml

## Current Behavior

An error is generated instead:

Error: unknown flag: --secret

## Possible Solution

No idea

[2020-10-14 08:05] nitisht commented on #337
@MikeLReminderM the `secret` flag is removed. Please check the latest docs here: https://github.com/minio/operator/tree/master/kubectl-minio

Plugin creates credentials automatically and prints the credentials on the console for the user.

[2020-10-14 16:07] MikeLReminderM opened #338 "Pods stuck at ContainerCreating with MinIO Operator"
When I apply the yaml I got from running:

kubectl minio tenant create --name tenant1  --servers 4 --volumes 16 --capacity 16Ti -o > tenant.yaml

the pods are not getting past the ContainerCreating phase.

## Expected Behavior

The pods should reach the Running status.

## Current Behavior

The pods created do not get past ContainerCreating.

I see messages like the following in the minio-operator

[2020-10-14 16:31] #337 closed

[2020-10-14 16:38] MikeLReminderM commented on #338
It looks like it is not mounting the PV - I see this from a describe pod:

  Warning  FailedMount       10m (x6 over 37m)   kubelet            Unable to attach or mount volumes: unmounted volumes=[0 1 2 3], unattached volumes=[tenant-test1-tls default-token-4jmf5 0 1 2 3]: timed out waiting for the condition
  Warning  FailedMount       47s (x34 over 55m)  kubelet            MountVolume.MountDevic

[2020-10-14 16:38] harshavardhana commented on #338
Well you don't have CSI installed so it won't work.

[2020-10-14 16:45] MikeLReminderM commented on #338
I do have CSI installed:

direct-csi             direct-csi-controller-min-io-cd598c4b-78xgn   2/2     Running             2          22h
direct-csi             direct-csi-controller-min-io-cd598c4b-8cs4l   2/2     Running             3          22h
direct-csi             direct-csi-controller-min-io-cd598c4b-jl8q4   2/2     Running             2          22h
direct-csi             direct-csi-min-

[2020-10-14 16:47] MikeLReminderM commented on #338
Look at the driver I used for the PV yaml files above.   Those were all created successfully and the volume claims were successful as well.

apiVersion: v1
kind: PersistentVolume
metadata:
name: minio-tenant-1-3
spec:
capacity:
storage: 1Gi
accessModes:
- ReadWriteOnce
persistentVolumeReclaimPolicy: Retain
csi:
**driver: direct.csi.min.io**
volumeHandle: data
readOnly: false
fsType: ext4

[2020-10-14 17:34] harshavardhana commented on #338
you are not supposed to create PVs yourself @MikeLReminderM we do that automatically you are mistaken on how to set this up with DirectCSI - all you need is to simply just have directCSI running rest is done by the operator / kubectl plugin.

[2020-10-14 18:32] MikeLReminderM commented on #338
Where is that documented?

Your docs list the following as prerequisites:

https://github.com/minio/operator/blob/master/README.md

**Prerequisites**
Kubernetes >= v1.17.0.
**_Create PVs._**

When I didn't have the PVs created the pods were stuck in the Pending state.    Nothing was set up by the operator.

I do have CSI running as my output above shows.

[2020-10-15 07:12] dotbalo opened #340 "k8s operator expand not working"
I deployed a minio cluster on the k8s cluster using operator.
**kubectl minio tenant create --name sct --servers 4 --volumes 4 --capacity 400Gi.**
At this time, the cluster is normal, and files can be upload and download.
Then I used expand to expand:
**kubectl minio tenant expand --name sct --servers 4 --volumes 4 --capacity 400Gi**
At this point, the PVC and Pod have been successfully created, b

[2020-10-15 07:14] harshavardhana commented on #340
you need to upgrade to latest release.

[2020-10-15 07:26] dotbalo commented on #340
@harshavardhana Thank you so much for your answer.
How do I upgrade the operator? I used **kubectl minio** and did not find the upgrade command. In addition, after upgrading the operator, do I need to upgrade the tenant version to latest?

[2020-10-15 08:08] dotbalo commented on #340
I uninstalled the operator, and then designated the image as minio/k8s-operator:latest. But expand still has the same error.
And deleting the operator will delete the minio cluster, which is very bad. But I did not find an upgrade command.

[2020-10-15 19:49] #333 closed

[2020-10-19 15:24] sanchetanparmar opened #344 "Typos in readme - krew install minio"
here is typo in README.md   - https://github.com/minio/operator/blob/master/README.md

should be `brew install minio` or `krew  install minio`  ?

[2020-10-20 06:19] siredmar commented on #108
@nitisht @harshavardhana any chance that there is a helm chart for the current version?
As mentioned in #154 operatorhub won't be maintained anymore. Can you point me in the right direction how to install this in a kubernetes cluster? Thanks!

[2020-10-20 06:38] harshavardhana commented on #108
No @siredmar only one way to do one thing, use our kubectl plugin and we are working with RedHat to update operatorhub.

[2020-10-20 08:16] siredmar commented on #108
Thanks!

[2020-10-28 08:30] lazystone commented on #182
Also would like to migrate from 1.x version to the latest. Is it even possible without re-creating MinIO cluster?

[2020-10-30 18:00] anapsix commented on #340
@harshavardhana, unfortunately krew is still showing `v3.0.26` as latest

- downloaded `v3.0.28` from [releases](https://github.com/minio/operator/releases)
- deleted operator
- deleted old PVCs (!important!, operator does not overwrite existing PVCs)
- init operator
- generated tenant manifefst
[code]
- edited manifest, adding `storageClassName: nfs-client`
- applied manifest
- checked pods and p

[2020-11-01 17:00] AlexandreOuellet commented on #337
The doc is not all up to date (see https://github.com/minio/operator/blob/master/docs/console.md for instance).

[2020-11-01 20:19] harshavardhana commented on #337
@AlexandreOuellet you are welcome to submit a PR to fix it.

[2020-11-06 20:46] jamie-34254 opened #348 "Add ability to add Vault TLS key"
**Is your feature request related to a problem? Please describe.**
We have an external Vault cluster with a custom CA, currently the operator does not allow you to specify a custom secret/secret mount.

**Describe the solution you'd like**
The ability to provide a custom TLS key as a file from a secret into the KES Pod would be useful

**Describe alternatives you've considered**
I was able to add

[2020-11-07 16:06] fabriciozubelli commented on #182
Also would like to migrate versions, but couldn't find any relevant information/documentation as well. Would anyone be able to point out the way to do that?

[2020-11-07 17:06] blachniet commented on #182
I re-created the MinIO cluster in order to upgrade to the latest version of the operator.

When creating the new cluster, you must create new PersistentVolumes, since the old ones are already claimed. As long as the new Persistent Volumes have the same data in them as the old Persistent Volumes (e.g. manually by copying from the old to the new), you should be able to keep all the data. That said,

[2020-11-09 21:39] Alevsk commented on #348
Hi @jamie-34254 you need to define the secret that has your tls public, private and ca.crt  via the `clientCertSecret` field, additionally in the `server-config.yaml` that you are passing via `kesSecret.name` make sure you are providing the file names `/tmp/kes/tls.cert`, `/tmp/kes/tls.key`, `/tmp/kes/ca.crt` under `tls` in vault configuration of your kes server: https://github.com/minio/kes/blob/

[2020-11-09 22:02] jamie-34254 commented on #348
Hi @Alevsk, to be clear we're not trying to authenticate via TLS - just provide our certificate authority key to the KES pod, we still want the automatic TLS stuff for the rest of the MinIO cluster - but want a way to add our CA file into the KES pod so that we can set it in the KES Config.

[2020-11-09 22:03] harshavardhana commented on #348
what is the limitation of using automatic TLS for kes?

[2020-11-09 22:05] jamie-34254 commented on #348
Our Vault cluster is using a different CA to MinIO, clientCertSecret is from my understanding for providing a CA alongside a TLS cert/key for Vault authentication, we just want to specify a CA.

[2020-11-09 22:12] Alevsk commented on #348
You can do that via the ClientCertSecret just on the kes-config do not provide any key or cert, just the ca field equals to the ca cert file name inside your secret, that way KES will know how to verify the connection with Vault

[2020-11-09 22:13] Alevsk commented on #348
@jamie-34254 if you exec into the KES pod, do you see any certificates under /tmp or /tmp/kes?

[2020-11-09 22:58] Alevsk commented on #348
Just did a quick test with a secret like this:

[code]

then on your tenant deployment
[code]
Once deployed, the KES pod will have something like this:

[code]

and the `ca.crt` will be mounted under `/tmp/kes/ca.crt`, you need to set that in your kes configuration

[2020-11-10 10:44] jamie-34254 commented on #348
When I looked at the code originally I saw:
https://github.com/minio/operator/blob/36b7477cea248076f27898b5a1f1b088e32874b4/pkg/resources/jobs/kes-job.go#L38
https://github.com/minio/operator/blob/36b7477cea248076f27898b5a1f1b088e32874b4/pkg/resources/statefulsets/minio-statefulset.go#L287

I think I did try it but didn't have any luck, but it was last week so not sure, it's possible I didn't try

[2020-11-10 18:34] Alevsk commented on #348
Yes, please take a look and let us know if you have any more questions.

[2020-11-10 18:34] #348 closed

[2020-11-11 09:27] andreas-eberle commented on #344
Actually, I think it should be `kubectl krew install minio`. I stumbled over this myself and created the PR #347.

[2020-11-11 09:39] andreas-eberle opened #350 "Newest version of operator not available on krew"
Currently only the version `v3.0.26` is available. The current version `v3.0.28` is missing. Can you push the newest version there?

[2020-11-17 05:22] Alevsk commented on #263
duplicated: https://github.com/minio/operator/issues/348

[2020-11-17 05:22] #263 closed

[2020-11-19 15:34] sylus opened #357 "How to replace serviceName for multiple tenants"
The service name is always set to Minio and the functionality to set it looks to be removed in:

https://github.com/minio/operator/commit/dda8cb78c64034f337f11da4ee212ac64c931062#diff-d5ca04858bbf8c9f7ce13215f121165e2c149339c3d9072e4810a8d8076314e9L259

## Expected Behavior

Ability to set the parameter and have it passed to be the operator.

## Current Behavior

No ability to set the parameter an

[2020-11-19 15:55] kerneltime commented on #357
S3 has deprecated path style access to objects and have asked customers to move to DNS style access (though they have moved the deadline further). Within k8s, we use service dns addresses per bucket to offer similar functionality when the app and the minio cluster are in the same cluster and do not need ingress. To make this feature work we need to lock the DNS address for MinIO itself, this due t

[2020-11-19 16:21] sylus commented on #357
So how would the following work, if i have two tenants and you can see the headless services work as expected but I only have one svc entry called Minio. See the picture below:

![Screen Shot 2020-11-19 at 11 19 06 AM](https://user-images.githubusercontent.com/984304/99693462-616e3300-2a59-11eb-91e8-a87522080ab8.png)

[2020-11-19 16:50] sylus commented on #357
I might understand now you can’t have more then one tenant in a namespace?

[2020-11-19 16:57] sylus commented on #357
Okay I understand now just had to understand a bit more and this makes sense and is working as designed, apologies for the noise :D

[2020-11-19 16:57] #357 closed

[2020-11-20 04:07] rustysys-dev opened #358 "Generating minio operator manifests results in unusable resources"
## Expected Behavior
outputing the minio operator manifest should result in a usable manifest

## Current Behavior
api version and kind are missing for some of the output resources.

if I run the following command
[code]

I get the following result
[code]

## Steps to Reproduce (for bugs)
1. install latest kubectl
2. install latest krew
3. install latest minio
4. run `kubectl minio init -o`

## Co

[2020-11-20 09:40] #358 closed

[2020-11-20 12:46] appunni-dishq opened #360 "Minio console and tenant doesn't support custom tolerations and nodeSelector"
[code]

As you can see last applied configuration has tolerations and nodeSelector but current pod is not getting updated with the same, when I patched the stateful set it got reverted by minio operator meaning it's not supported by minio operator for some reason

[2020-11-20 13:21] appunni-dishq commented on #360
As per documentation it is spec.nodeSelector as per code
[code]
It is per zone

[2020-11-20 14:10] djfoley01 commented on #340
I'm experiencing the same issue with 3.0.28. Exact same issue except my environment is a little different, using kube 1.19.0 and RHEL 7.9.

[2020-11-21 05:19] nitisht commented on #344
fixed by #347

[2020-11-21 05:19] #344 closed

[2020-11-21 05:30] nitisht commented on #340
We'll take a look and get back.

[2020-11-21 07:55] nitisht commented on #350
New version `v3.0.29` is now available on Krew https://github.com/kubernetes-sigs/krew-index/pull/931

[2020-11-21 07:55] #350 closed

[2020-11-21 07:55] nitisht commented on #358
New version `v3.0.29` is now available on Krew https://github.com/kubernetes-sigs/krew-index/pull/931

[2020-11-24 13:49] nitisht commented on #340
@djfoley01 I tried on my local setup and expansion seems to be working fine. Can you elaborate what did you try and what did not work?

[2020-11-24 15:49] djfoley01 commented on #340
@nitisht I'll create a step by step and exactly what I'm seeing. Essentially I go to perform the expansions, and each new "node" just sits there stating:
"Waiting for the first server to format the disks.
Waiting for the first server to format the disks.
Waiting for the first server to format the disks."

[2020-11-24 15:52] nitisht commented on #340
This may be due to improper PV etc, we'll need to look at your setup / steps

[2020-11-24 16:17] djfoley01 commented on #340
It's kind of long, but you can see exactly what I did and what was created:

`$ oc minio tenant create --name minio-sandbox --servers 4 --volumes 4 --capacity 1Ti --namespace minio
$ oc get pvc
NAME                       STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
0-minio-sandbox-zone-0-0   Bound    pvc-db00aef2-a48d-4f36-8335-4c6fe4abb157   256

[2020-11-24 21:31] djfoley01 commented on #340
Before I did the expand, the first 4 nodes were working as expected and no issues were preset. As soon as I did the expand, the first zone now is not accessible, when I look at the statefulset, it shows "Phase: Pending" under volumeClaimTemplates. All of the pods show they are assign the correct volume, so I'm not really understanding where the problem is.

`I1124 16:09:42.479818       1 main-cont

[2020-11-24 21:40] harshavardhana commented on #340
The actual issue

[2020-11-24 22:04] djfoley01 commented on #340
@harshavardhana  That's not the issue, that went away after the CSR's were approved and that cluster was actually working. Those logs came from the working zone.

[2020-11-25 03:29] djfoley01 commented on #340
I just attempted the expand on a completely separate Kubernetes 1.19.4 cluster using NFS instead of VMDKs. Using the latest operator:
kubectl minio init
kubectl minio tenant create --name minio --servers 2 --volumes 4 --capacity 100G
kubectl minio tenant expand --name minio --servers 2 --volumes 4 --capacity 100G

kubectl get pods | grep zone
minio-zone-0-0                    1/1     Running

[2020-11-25 03:31] harshavardhana commented on #340
AFAICS this issue is

[2020-11-25 05:31] Alevsk commented on #360
@cesnietor do you know if tolerations are currently supported?

[2020-11-25 05:56] Alevsk opened #365 "Move console credentials from Console deployment to Tenant/MinIO deployment Spec"
`tenant.Spec.Console.consoleSecret` must be removed in favor of `tenant.Spec.users`, `users` will be an array of user credential objects containing access/secret keys, Operator will create and assign the Admin policy to these users during Tenant creation, ie:

[code]

`Console` will still be able to receive env variables via the `env` field.

[2020-11-25 06:19] cesnietor commented on #360
correct @appunni-dishq you have to specify the tolerations on the zone while creating the tenant, operator should then create the pods with those.

[2020-11-25 06:44] rustysys-dev opened #366 "Role permissions are not cluster scoped when using generated manifests."
After searching for the cause, it seems that when generating manifests the `ClusterRoleBinding` object is used, but the manually input kind `RoleBinding` doesn't match.

https://github.com/minio/operator/blob/fc90c2d4d52e201115c94c4d2dba76923061277d/kubectl-minio/cmd/resources/cluter-role-binding.go#L28-L34

This causes the following errors.

[code]

[2020-11-25 07:04] appunni-dishq commented on #360
but minio console doesn't support any of this

[2020-11-25 16:31] rustysys-dev opened #368 "Support creation of buckets via the tenant CR"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to create buckets via the tenant CR

**Describe the solution you'd like**
Similar solution to the helm templates where you can specify a list of buckets to be pre-created.

[code]

[2020-11-25 17:33] cesnietor commented on #360
The Console UI does not support it, the api does. We are currently redesigning some parts of the UI. We can bring this to the table. Could you please provide your use case? Thanks.

[2020-11-25 17:37] appunni-m commented on #360
We have worker node pools for spark. Minio console prevents some of these nodes from scaling down as these are auto scaling node pools. We want to assign it to node pools which are more web app centric than worker centric. And taints prevent workers from reaching these web app node pools. Thus we need tolerations on minio console to assign it there.

[2020-11-25 18:27] harshavardhana commented on #368
This will come as part of the native k8s https://blog.min.io/cosi/ support in future - we didn't add it in purpose since bucket creation is API driven operation i.e S3 API use a client after deployment to trigger this yourself.

Operator is designed to get MinIO up and running for applications to use - it is applications resposibility to create buckets.

[2020-11-25 18:27] #368 closed

[2020-11-26 01:00] rustysys-dev commented on #368
Sounds great and thanks for the information!

[2020-11-26 05:00] djfoley01 commented on #340
I fixed the issue at least for my kube 1.19.4 cluster, the issue was the statefulset for the first zone didn't get updated with the newest "ENDPOINTS":
Before:

kubectl edit statefulset minio-zone-0
...
        - name: MINIO_ENDPOINTS
          value: https://minio-zone-0-{0...1}.minio-hl.default.svc.cluster.local/export{0...1}

After and confirmed working:

kubectl edit statefulset minio-zone-0
.

[2020-11-26 12:21] #366 closed

[2020-11-27 15:22] mostafa8026 opened #373 "Incorrect Usage: flag provided but not defined: -certs-dir"
When create the console pods, We have a CrashLoopBackOff status, and after checking the log of the console pod, I found this message:

[code]
## Expected Behavior

Console pod come available without any problem.

## Current Behavior

encountered an error: `Incorrect Usage: flag provided but not defined: -certs-dir`

## Possible Solution

Maybe it is my bad config,  could anyone take a look at my c

[2020-11-27 15:24] nitisht commented on #373
Can you try with latest console release, `minio/console:v0.4.6`?

[2020-11-27 16:17] mostafa8026 commented on #373
Yes, it solved the problem. could you please update krew related package.

[2020-11-27 16:20] nitisht commented on #373
It is updated https://github.com/minio/operator/blob/master/kubectl-minio/cmd/helpers/constants.go#L86

Will be available in next krew plugin release.

[2020-11-27 16:20] #373 closed

[2020-11-29 04:46] mostafa8026 commented on #72
The link is broken. could you please provide new example?

[2020-11-29 07:43] mostafa8026 commented on #49
I'm currently using externalCert to use cert-manager, my config is:
[code]
but I got this error:
[code]
my cert-config is:

[code]
and ingress config is:
[code]

[2020-12-01 09:07] cyluss commented on #340
@djfoley01 Working fine on TKG, after modifying MINIO_ENDPOINTS env variable

[2020-12-01 12:56] mostafa8026 opened #375 "Problem with inner network"
I get this error when trying to start the pods:
[code]
and after some time:

[code]

## Expected Behavior

The inner network connect the pods to gether.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Install CALICO cni plugin
2. Install minio with local storage class
3. and the problem appear.

## Context

## Regression

## Your Environment

* Version used (`minio-operator`): 3.0.29
*

[2020-12-01 20:09] harshavardhana commented on #375
Clearly says your DNS doesn't resolve - looks like your coredns is hung you may have to restart it.

[2020-12-03 22:01] cesnietor opened #379 "Tenant instance created doesn't contain image used for minios on Spec"
After deploying a Tenant and successfully initializing, the tenant resource doesn't contain the minio image that is  being used.

## Expected Behavior
When doing GetTenant the instance.Spec.Image should contain the image being used

## Current Behavior
Image returned is empty although the minios were created with `minio/minio:RELEASE.2020-11-19T23-48-16Z`

## Steps to Reproduce (for bugs)
1. Creat

[2020-12-04 11:28] L-U-C-K-Y opened #383 "Unable to login to Minio with TLS by cert-manager"
Hi all

I am unable to login to my minio instance that uses a self-signed cert from cert-manager.

## Expected Behavior
I expect to be able to login and use S3 clients to connect to Minio.

## Current Behavior

I am getting multiple of these errors when trying to access `https://localhost:9000`(port-forward):

[code]

When accessing with Google Chrome:

<img width="661" alt="Screenshot 2020-12-04

[2020-12-04 11:34] nitisht commented on #383
Thanks for reporting, we'll take a look @L-U-C-K-Y

[2020-12-04 14:06] mostafa8026 commented on #375
Yes, it was my infrastructure problem. I deploy k8s over virtual cloud machines and they don't have some real LAN interface.
thanks for your time.

[2020-12-04 14:06] #375 closed

[2020-12-07 18:12] olevitt opened #384 "Tenant update doesnt do anything"
## Expected Behavior
When updating a tenant configuration (using either kubectl apply or kubectl edit), I expected minio-operator to process the new configuration and restart the pods.

## Current Behavior
Modifying anything (tried with modifying env variables and minio image) does not do anything, even after killing the operator.

[2020-12-07 18:15] dvaldivia commented on #384
Hi @olevitt, it usually takes some time to see the rolling update, we first perform a hot update of MinIO and then we perform the rolling update.

Does you kubernetes cluster has connectivity to the internet or is it restricted in any form? If we fail to download the updated MinIO image we may run into a problem, I want to confirm you are not experiencing this behavior

[2020-12-08 01:11] haslersn opened #385 "kubectl-minio requests huge volumes for some capacity values"
Creating a minio cluster with 3 servers, 12 drives and `21.6Ti` capacity results in volume requests for `643584Ti` per volume.

## Expected Behavior

There should either be an error, if `21.6Ti` is an illegal value, or a sane request, otherwise.

## Steps to Reproduce (for bugs)

[code]

## Your Environment

kubectl-minio v3.0.29

[2020-12-08 01:16] harshavardhana commented on #385
why is it an illegal value? @harlersn

[2020-12-08 01:49] haslersn commented on #385
I did not say so. I also proposed an expected behavior if it "otherwise", i.e. if it's not an illegal value.

[2020-12-08 09:16] olevitt commented on #384
Hi !
Thanks for this quick reply.
The cluster's connectivity to the internet is not restricted and I have had no issues on that matter so I don't think it's related to this.

The operator logs looks more promising :
[code]

And `kubectl get svc -n minio-operator` yields no result. There is no service corresponding to `operator.minio-operator.svc.cluster.local`. According to https://github.com/mini

[2020-12-08 16:21] harshavardhana commented on #384
Looks like tenants cannot talk back to the operator here - perhaps your network policies?

[2020-12-08 16:55] olevitt commented on #384
I don't have any network policies enforced.

To me it looks like DNS resolution failure which is understandable as the service (which is linked to the `operator.minio-operator.svc.cluster.local` DNS name) has not been created.
So for me the root error is the fact that the service `operator` is not created although it should be according to https://github.com/minio/operator/blob/master/operator-kus

[2020-12-10 22:20] mohantnr opened #387 "Tenant console is failing with Incorrect Usage: flag provided but not defined: -certs-dir -minio/k8s-operator:v3.0.29"
Hi,
k8s Minio version: minio/k8s-operator:v3.0.29

It is successfully creating the MinIO Tenant tenant1 Created

# kubectl minio tenant create --name tenant1 --servers 1 --volumes 4 --capacity 100Gi --storage-class local-storage -n minio-ns

Tenant
Access Key: 05559518-7b76-4dee-9a8c-49bc52bffda1
Secret Key: 5c3005e8-f523-4151-9e46-c34aa2c34b7b
Version: minio/minio:RELEASE.2020-11-19T23-48-16Z
Clu

[2020-12-10 23:24] dvaldivia commented on #387
`minio/console:v0.3.14` is fairly old, can you  upgrade your console to `minio/console:v0.4.6` that should fix this issue.

[2020-12-11 09:17] mohantnr commented on #387
Hi Dvaldivia,

Thank you and it is working after the console upgrade to minio/console:v0.4.6

[2020-12-11 09:17] #387 closed

[2020-12-14 22:17] chadleeshaw opened #388 "Pools or Zones?"
I'm seeing an issue where the Tenant example is needing spec:zones and throwing an error.

## Expected Behavior
I'd expect spec:pools to work.

## Current Behavior
Using the [tenant.yaml ](https://github.com/minio/operator/blob/master/examples/tenant.yaml)and testing against the latest 3.0.29 operator I get the following error:

## Steps to Reproduce (for bugs)
1. kubectl create ns minio
2. kubect

[2020-12-14 22:27] harshavardhana commented on #388
v3.0.29 is the released version not v4.0.0 - you need to use the released version https://github.com/minio/operator/blob/v3.0.29/examples/tenant.yaml

[2020-12-14 22:27] #388 closed

[2020-12-16 00:49] iamruhua opened #389 "Any support openshift 3.11?"
In the readme, it says only support 1.17+ of k8s, but openshift 3.11 was built on k8s 1.11.

Any plan to support that or any clue on why it's not supported?

[2020-12-16 00:50] harshavardhana commented on #389
We cannot support openshift 3.11 due to CRDs and certain requirements in terms of kubernetes features.  Unfortunately no.

[2020-12-16 00:50] #389 closed

[2020-12-18 11:49] anekdoti opened #394 "Credentials in resources generated by kubectl plugin can not be customized."
From my understanding, the kubectl minio plugin has two modes:  in both modes, the resources necessary for the deployment of a Tenant are created from command line arguments and credentials are randomly created. Then, the resources are either directly applied to the cluster, or just outputted (using the -o yaml  switch).

According to the documentation, in the second case it should be possible to

[2020-12-18 13:56] JannikZed commented on #49
got the same issue with cert-manager; `MountVolume.SetUp failed for volume "XXX-tls" : references non-existent secret key: public.crt`

[2020-12-18 15:03] ravindk89 commented on #394
Some additional context (and lots of conversation) in the [Community Slack Channel](https://minio.slack.com/archives/C3NDUB8UA/p1608053023053900). Might be helpful in additional diagnostics/ideas here.

[2020-12-19 12:34] JannikZed opened #395 "timeout during certificate fetching"
When trying to create a fresh Tenant with the operator, the operator fails to fetch the certificate:
[code]
I don't know what to change or to do differently. My tenant description:

[code]
Issuing the certificate with cert-manager is not working as well - these certificates do not have a file "public.csr" so this file can't be mounted  :/

## Expected Behavior

The service should start up!
## Curr

[2020-12-19 17:34] harshavardhana commented on #395
The timeout is because your deployment k8s took longer than usual required CSR to be granted.

[2020-12-19 18:47] JannikZed commented on #395
thank you for the answer! Do you have an idea, where this is coming from, or how I could debug the root cause? Because 20 minutes sounds pretty long .. I don't think, that my cluster is that slow. I tried it several times, without luck. So I'm guessing there might be some kind of misconfiguration in the cluster.

[2020-12-20 00:04] harshavardhana commented on #395
yes you should look at `kubectl get events` on the operator pod and also the kube-system side where the CSR is coming from.

@Alevsk ^^ do you have any inputs?

[2020-12-20 04:34] Alevsk commented on #395
Yes the issue seems to be during the csr creation

[code]

`kubectl get events` should tell us more information about what happened.

[2020-12-20 19:29] JannikZed commented on #395
so get events did not show me anything - nothing about the CSR.. but it was the right direction. My setup is using rancher and they are missing these settings for the kube controller:
[code]
This makes it impossible for kubernetes to generate a certificate from the csr.

After adding this value, everything works smooth!

[2020-12-20 19:55] harshavardhana commented on #395
Strange good to know.

[2020-12-20 19:55] #395 closed

[2020-12-20 23:45] haslersn opened #396 "KES job (kes key create) fails with KES 0.12.1 and 0.13.0"
When using KES 0.12.1 or 0.13.0, the Pod created by the `<tenant_name>-kes` Job fails with

[code]

## Workaround

Use KES 0.12.0

## Steps to Reproduce (for bugs)

Create a Tenant with:

[code]

## My Environment

My MinIO operator `kustomization.yaml`:

[code]

[2020-12-21 08:13] willzhang opened #397 "minio and console accesskey"
## what i do

[code]
but what the accesskey and secretkey it is ? It's encrypted with Base64  , i can't use it to login

[code]

[2020-12-21 08:17] willzhang commented on #397
echo ZWM1ZTNmMmYtNzc0NS00MWMwLTlkN2MtODFlMWFkYTczYWU1 | base64 -d

[2020-12-21 08:17] #397 closed

[2020-12-21 20:40] L1st3r opened #398 "Creating a minio Tenant using the given commands from the README fails to start up the console in GKE"
In GKE after correctly setting up the MinIO operator, attempting to create a basic tenant fails to get the console to start up. It looks like it has an incorrect argument, and changing the arguments to what I have below does bring it up.

## Expected Behavior

## Current Behavior
This is what is in the generated yaml:
        - --certs-dir=/tmp/certs

And the error we get is:
"Incorrect Usage: fla

[2020-12-22 12:25] mostafa8026 commented on #49
You have to remove the external-cert specification from your tenant config. I have this problem before and It was resolved with correcting the metadata section of ingress configuration in this way:

[code]

I recommend you to read [ingress documentation](https://kubernetes.github.io/ingress-nginx/), there was plenty of useful information.

[2020-12-22 16:42] Alevsk commented on #398
@L1st3r the docs are getting updated, in the meantime please update your console `deployment` to use `minio/console:v0.4.6` image, `--certs-dir` its a flag added on recent versions of Console

[2020-12-23 00:15] #396 closed

[2020-12-23 15:23] johny-mnemonic commented on #398
@Alevsk I happen to have the same issue. Would you please advice how to control which minio/console version the operator deploys?

[2020-12-23 16:04] Alevsk commented on #398
Please take a look at the example deployment files, ie: https://github.com/minio/operator/blob/master/examples/tenant-with-autocert-encryption-disabled.yaml, you can deploy your MinIO tenants using `kubectl apply -f file.yaml` and if you wish to customize the console image you can define a new value under:

[code]

[2020-12-24 09:26] sunshineing opened #410 "When kubectl don't use default kubeconfig command exec return unknown command"
## Expected Behavior
$kubectl minio init
CustomResourceDefinition tenants.minio.min.io: created
ClusterRole minio-operator-role: created
ServiceAccount minio-operator: created
ClusterRoleBinding minio-operator-binding: created
MinIO Operator Deployment minio-operator: created

## Current Behavior
$kubectl --kubeconfig kubeconfig minio init
Error: unknown command "minio" for "kubectl"
Run 'kubectl

[2020-12-24 09:37] nitisht commented on #410
will check and get back @sunshineing

[2020-12-25 15:52] haslersn opened #411 "KES job (kes key create) fails if my-minio-key already exists in Vault"
I hope the title is self-explaining. Otherwise, please ask in the comments.

## My Environment

My MinIO operator `kustomization.yaml`:

[code]

[2020-12-25 15:58] haslersn opened #412 "Feature request: Make KMS key name configurable"
Currently the name of the key on the KMS backend is hard-coded [here](https://github.com/minio/operator/blob/a61a393c4f85745570e2cfc04737c8d9a94e9a7b/pkg/apis/minio.min.io/v1/constants.go#L241). However, I think the name should be configurable, in order to support key rotation.

[2020-12-28 11:50] huatan opened #413 "use The MinIO Kubernetes Operator init minio error"
when init minio ，the error appear
system centos7.8
kubernetes 1.19.2
 Version used (`minio-operator`):

## Current Behavior
[root@k8s-master1 ~]# kubectl get pod
NAME                             READY   STATUS    RESTARTS   AGE
mariadb-0                        1/1     Running   15         33d
quickstart-es-default-0          1/1     Running   15         33d
quickstart-kb-769769cbf8-nmdtw   1/1

[2020-12-28 12:06] nitisht commented on #413
Doesn't look like you configured `kubectl` properly. Please configure `kubectl` to connect to your K8S cluster before using the plugin

[2020-12-28 12:06] #413 closed

[2020-12-28 12:50] huatan commented on #413
@nitisht

but I use `kubectl` deploy elasticsearch operator success,deploy mariadb success

[2020-12-28 13:02] nitisht commented on #410
@sunshineing can you pls try with #414 ?

[2020-12-28 13:10] nitisht commented on #413
please try providing the `--kubeconfig` flag, once #414 is merged and released.

[2020-12-28 13:22] huatan commented on #413
@nitisht I  see #414 Merging is blocked,when released ,I will try. is the minio plugin version will changed?

[2020-12-28 14:48] nitisht commented on #413
Yes, we'll make a new release soon

[2020-12-29 06:27] nitisht commented on #340
closing this based on above comments.

[2020-12-29 06:27] #340 closed

[2020-12-29 06:32] nitisht commented on #383
@L-U-C-K-Y it longer for me to get back to this, but looking closely at the error

Can you explain how did you create your self signed certificates?

[2020-12-29 06:37] nitisht commented on #317
@sstubbs is this still a problem? Can you try with operator release `3.0.29`?

[2020-12-29 11:33] #410 closed

[2020-12-29 12:02] anapsix commented on #398
imho, the problem is not as much with the docs, as with `minio-operator` generating manifest with console's image version which is incompatible with `--certs-dir` cli option

[2020-12-30 03:06] #269 closed

[2020-12-30 04:13] tobernguyen commented on #314
How do I remove the stale?

[2020-12-30 06:33] harshavardhana commented on #314
This is unrelated to operator and will be available as https://github.com/kubernetes-sigs/container-object-storage-interface-controller

Out of scope for operator

[2020-12-30 06:33] #314 closed

[2020-12-30 06:34] #317 closed

[2020-12-30 19:50] dvaldivia commented on #384
there's a log error
[code]
I think this is the root cause, will investigate further

[2021-01-02 17:06] Nilegfx opened #415 "documentation is outdated"
## Expected Behavior

Documentation (specifically the examples) are easier to follow with simple steps using the latest operator version
## Current Behavior

Documentation causes more confusion than clarity it provides, as an example, the API definition changes from one operator version to another from `pools` to `zones`
creating a tenant with automatic cert doesn't work, the tenant state stuck wi

[2021-01-03 02:51] Nilegfx commented on #415
[this answer](https://github.com/minio/operator/issues/395#issuecomment-748650296) solved my certificate creation problem, however, I still think the docs for the operator is outdated.

[2021-01-03 03:10] harshavardhana commented on #415
You should read the docs for the relevant tag here @Nilegfx https://github.com/minio/operator/tree/v3.0.29 - master branch has diverged and is moving to v0.4.0

[2021-01-03 03:27] Nilegfx commented on #387
@dvaldivia thanks for the hint/answer.

I think the documentation for the operator is not well organized and doesn't explain how to create new tenant with an updated console image or you mean to manually update the generated deployment after the operator creates it?

I do think that the minio plugin should always be up-to-date with the latest images or give an option to pass it, or if this option

[2021-01-03 23:01] Nilegfx commented on #49
@mostafa8026 thanks for your answer, for me, I had different issue, I was missing the `nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"` annotation, once I added it everything worked just fine :+1:

[2021-01-05 19:43] elmariofredo opened #417 "Roadmap for 4.X release"
Thanks for this operator 👍

Given recent breaking changes https://github.com/minio/operator/pull/371 is there any roadmap when do you plan to release these changes?

[2021-01-05 19:52] dvaldivia commented on #417
@elmariofredo I'm working on a PR to support upgrading previous tenants to the new structure

[2021-01-05 19:52] dvaldivia commented on #417
when that is ready perhaps we will release 4.0

[2021-01-05 20:48] elmariofredo commented on #417
Thanks for the answer! If there is anything I can help with, please do let me know.

[2021-01-05 20:48] #417 closed

[2021-01-07 15:13] ZleFox opened #418 "tenant console deployment failed"
when clean install from kubectl minio tenant create the tenant-console deployment is using wrong args
the logs are:

[code]

## Expected Behavior
console sever should start with correct flags

## Current Behavior
the deployment must be manually configured

## Your Environment

* Version used (`minio-operator`): minio         v3.0.29
* Environment name and version (e.g. kubernetes v1.17.2): k8s 18.

[2021-01-08 13:45] #418 closed

[2021-01-11 13:39] nitisht commented on #383
Closing this due to no response, feel free to reopen if/when you're able to respond

[2021-01-11 13:39] #383 closed

[2021-01-13 02:16] sylus commented on #384
Me and @zachomedia looked at this and @zachomedia wrote a patch the problem is when MinIO changed the base image from alpine to UBI and the getArtifacts call calling the largest layer no longer works to retrieve the MinIO binary files.

https://gist.githubusercontent.com/zachomedia/b98b3e7eed089ec300e18c299b8a01b1/raw/5c1a2c9b202f7688fd5b69a3a73d0195379e4896/skip.patch

[2021-01-13 02:18] harshavardhana commented on #384
@sylus feel free to send a PR

[2021-01-13 08:42] jaggerwang opened #420 "Create tenant failed with error "timeout during certificate fetching of csr/minio-cluster-default-csr""
The operator logs the following error when create a tenant:

[code]

## Steps to Reproduce (for bugs)
1. Install minio plugin.
2. Init minio plugin.
3. Create a tenant.

[code]

StorageClass:

[code]

PersistentVolumes:

[code]

## Your Environment
* Version used (`minio-operator`): v3.0.29
* Environment name and version (e.g. kubernetes v1.17.2): v1.18.14 managed by Rancher
* Server type and vers

[2021-01-13 08:52] harshavardhana commented on #420
PTAL

https://github.com/minio/operator/issues/395

[2021-01-13 08:52] #420 closed

[2021-01-13 08:53] harshavardhana commented on #420
[code]

[2021-01-13 10:02] jaggerwang opened #421 "Create cluster zone filed with "Unable to attach or mount volumes""
Workload:
![image](https://user-images.githubusercontent.com/1255011/104436920-273c9000-55c9-11eb-9975-bb08d54a8368.png)
![image](https://user-images.githubusercontent.com/1255011/104436971-36234280-55c9-11eb-9ca7-525e5e2e3de2.png)

Pod:
![image](https://user-images.githubusercontent.com/1255011/104437023-44715e80-55c9-11eb-8bfa-d68c8d29696d.png)

PV:
![image](https://user-images.githubusercontent

[2021-01-13 10:03] luciferhs commented on #420
I have configured it, but the installation still reports the problem of TLS。

The document says
“MinIO Tenants deploy with TLS enabled by default, where the MinIO Operator uses the Kubernetes certificates.k8s.io API to generate the required x.509 certificates. Each certificate is signed using the Kubernetes Certificate Authority (CA) configured during cluster deployment. While Kubernetes mounts th

[2021-01-13 13:28] #384 closed

[2021-01-13 19:50] crawdaddy18 opened #425 "Tenant stuck in "Waiting for Pods to be ready" state; No Console pod visible"
## Expected Behavior
I would assume there should be a console pod in the tenant I created and that the tenant should not be stuck in a "Waiting for Pods to be ready" state for over 11 minutes.

## Current Behavior
While I can pull the console image using docker pull, the console pod is not launching.

## Possible Solution
I assume this is an issue inside the operator.

## Steps to Reproduce (for b

[2021-01-13 19:55] dvaldivia commented on #425
@crawdaddy18 can you share your tenant configuration? Can you also share the logs for at least 1 of the MinIO pods? we can confirm that way if MinIO started successfully

This issue could be caused by the operator not being able to talk to the MinIO pods to check if they are ready and start deploying. Are there any network policy restrictions in your cluster?

[2021-01-13 20:04] crawdaddy18 commented on #425
![image](https://user-images.githubusercontent.com/10227891/104504246-c5b7f980-55a7-11eb-9e6e-3e350be4fe2c.png)

![image](https://user-images.githubusercontent.com/10227891/104504490-22b3af80-55a8-11eb-8c9e-00a9bd95d423.png)

Does appear to be some sort of networking issue.  I am not aware of any policy restrictions.

[2021-01-13 20:23] dvaldivia commented on #425
@crawdaddy18 MinIO is not starting, the error indicates the DNS cannot resolve the name, by any chance do you have a custom cluster domain in your k8s cluster?

[2021-01-13 20:31] crawdaddy18 commented on #425
Oh no...someone manually changed it to mycluster.local and I have NO IDEA WHY.  Is there a way to specify what cluster domain I want to use?

[2021-01-13 20:38] harshavardhana commented on #425
CLUSTER_DOMAIN=mycluster.local needs to be set in ENV during the operator deployment

[2021-01-13 20:57] crawdaddy18 commented on #425
sorry if this is a dumb question, but does the env variable need to be set on the node where I am executing the "kubectl minio init" command or does it need to be on all of the worker nodes?

I set it on the node where I was executing "kubectl minio init" and that did not seem to work

[2021-01-13 20:59] dvaldivia commented on #425
no worries, you can do `kubectl minio init --cluster-domain  mycluster.local`

[2021-01-13 21:07] crawdaddy18 commented on #425
That did it, thank you.  This may be good even if the "getting started" section.  Also, please add the "--name" requirement to your example tenant create.

Thanks again!

[2021-01-13 21:32] crawdaddy18 commented on #425
Reopening, as the container keeps dying:

![image](https://user-images.githubusercontent.com/10227891/104512870-7d530880-55b4-11eb-871d-ecc9094e52b3.png)

[2021-01-13 21:34] harshavardhana commented on #425
Change the console version to use minio/console:v0.4.6

[2021-01-13 21:34] #425 closed

[2021-01-14 01:27] jaggerwang commented on #420
If you use rancher, you can enter into edit cluster page, and then click button "Edit as YAML".

[2021-01-14 07:33] nitisht commented on #385
I don't really understand the problem here. can you elaborate @haslersn ?

[2021-01-14 08:48] mokpolar opened #426 "minio-tenant-console pods are stuck at CrashLoopBackOff with MinIO Operator"
## Expected Behavior

minio-tenant-console pods should reach the running state

## Current Behavior

minio-tenant-zone pods are running.

2 minio-tenant-console pods are stuck.

logs of minio-tenant-console :

Incorrect Usage: flag provided but not defined: -certs-dir

## Possible Solution

## Steps to Reproduce (for bugs)

1. installed and initialized the minio kubectl plugin per: https://github.

[2021-01-14 08:49] harshavardhana commented on #426
upgrade your `console` image version to `v0.4.6` @mokpolar

[2021-01-14 09:06] mokpolar commented on #426
Thank you for your prompt reply.
How do I upgrade the MinIO console of Kubernetes?

[2021-01-14 15:20] Mercbot7 opened #427 "MinIO Operator to create buckets"
**Is your feature request related to a problem? Please describe.**
Relative to the Helm chart, per the [docs](https://github.com/minio/charts/blob/master/README.md) the Operator is to supercede/replace the chart, the Operator does not create the default or other buckets through configuration.

**Describe the solution you'd like**
As part of Tenant creation it would be good to be able to list a def

[2021-01-15 13:30] nitisht commented on #427
This is not on the roadmap as of now @Mercbot7 . We may consider this in future.

[2021-01-15 13:31] nitisht commented on #426
yes, that is fine @mokpolar . Closing this as working now

[2021-01-15 13:31] #426 closed

[2021-01-15 15:59] harshavardhana commented on #427
Let's reopen in future if there are plans.

[2021-01-15 15:59] #427 closed

[2021-01-15 17:33] Mercbot7 commented on #427
That would be awesome! In the mean time could Minio Provide a best practice to automagically create buckets? Perhaps a n official job or something like that? maybe something like this?

[code]

[2021-01-17 03:24] mfbrj opened #428 "minio-console:9090 redirects to 0.0.0.0:9443"
I installed a minio tenant using the following yml:
[code]
When I try to access the gui minio-console:9090 it redirects to 0.0.0.0:9443

Someone reported the same problem at [stackoverflow](https://stackoverflow.com/questions/64827502/kubernetes-minio-tenant-ui-redirects-to-0-0-0-09443), unfortunally with no answers.

## Expected Behavior

Minio Console gui should be displayed.

## Current Behavio

[2021-01-18 12:12] birdcolour opened #430 "Undocumented `externalCertSecret` usage"
The console setting `spec.console.externalCertSecret` (analagous to the [tenant setting](https://github.com/minio/operator/blob/v3.0.29/docs/tls.md#pass-certificate-secret-to-tenant)) is not included in the console [documentation](https://github.com/minio/operator/blob/v3.0.29/docs/console.md#console-fields), nor the raw yaml that this doc refers to - only in the [custom cert](https://github.com/m

[2021-01-18 15:48] upodroid opened #432 "KES with Vault and Kubernetes Auth is broken."
I installed a minio tenant with the following config:

[code]

Env details:

[code]

The operator creates a job that fails to create the kes key.

[code]

I don't see any logs in the kes pods.

What might be causing this?

On sidenote, the KES pods don't use a custom service account so this k8s auth role has to be used which is bad:

[code]

[2021-01-19 15:06] JLMonk commented on #398
Did this get resolved? My operator is overwriting any changes I make to the console deployment.

[2021-01-20 14:04] lptarik commented on #421
Maybe this can help you
[https://github.com/minio/operator/issues/395#issuecomment-748650296](url)

[2021-01-21 01:25] jaggerwang commented on #421
Thanks，but these two are not the same problem.

[2021-01-21 13:14] ustiugov commented on #415
The README needs to be updated: at least 2 service creation arguments are obsolete: `--name` is required and `--storage-class` is a new name for the old agreement.  hence, the correct command is:
[code]

[2021-01-21 16:34] displague opened #437 "operator starts server with unsupported --certs-dir switch"
I installed the minio operator using the krew plugin, which was also installed yesterday. (I don't know the version numbers, sorry).

The server pod was failing because --certs-dir was not supported. I changed the arguments to --tls-* effectively working around the changes introduced in https://github.com/minio/operator/pull/346.

I've since changed my install to the helm based install, without th

[2021-01-21 19:02] harshavardhana commented on #437
change the console image version to v0.4.6

[2021-01-21 19:02] #437 closed

[2021-01-22 22:36] #310 closed

[2021-01-23 07:11] elmariofredo commented on #368
I have separated bucket creation from [minio chart](https://github.com/minio/charts/blob/master/minio/templates/_helper_create_bucket.txt) so it's easy to use it with operator see  https://github.com/Container-Driven-Development/minio-create-bucket

[2021-01-23 20:15] owetterau commented on #428
I am experiencing the same issue (redirect to 0.0.0.0:9443) with an Istio ingress pointing to the minio-console service.

My versions:
krew v0.4.0
minio operator v3.0.29
minio console v0.5.2 (updated manually)

[2021-01-24 00:10] harshavardhana commented on #428
Change the ports as necessary

[code]

Why is redirect a problem?

[2021-01-24 09:37] owetterau commented on #428
Console is installed via operator and therefore I think that these flags won't work.

Redirect is a problem: I am accessing the console on port 9090 via Istio ingress and HaProxy(external address https://minio.apps.kubernetes.<private domain>). But then the external address is being redirected to 0.0.0.0:9090 which obviously cannot be accessed from a browser outside of Kubernetes.

[2021-01-24 09:42] harshavardhana commented on #428
You can certainly add ENV and override them @owetterau in the `console:` section

[code]

[2021-01-24 13:14] owetterau commented on #428
Unfortunately, when I change these settings, console tries to listen on the external address defined be these ENV variables which is impossible and leads to the console pods crashing...

The main issue seems to be that the console is redirecting requests going to the non-safe port (default 9090) to the secured port (9443) with its default IP address which it should not do, because the console's po

[2021-01-24 18:41] harshavardhana commented on #428
That would be CONSOLE_SECURE_TLS_REDIRECT=off

[2021-01-24 19:42] owetterau commented on #428
I tried with CONSOLE_SECURE_TLS_REDIRECT=off, it does not work either.

[2021-01-24 20:11] mfbrj commented on #428
@owetterau clarified it well.
In my case, minio-console is in k8s cluster in DigitalOcean, with a Ingress working properly. I'm trying to access minio-console from my laptop outside the cluster and the redirect to 0.0.0.0 mess the browser navigation.

[2021-01-24 20:51] harshavardhana commented on #428
Closing as duplicate of https://github.com/minio/console/issues

[2021-01-24 20:51] #428 closed

[2021-01-24 21:08] mfbrj commented on #428
How can this issue be considered duplicated if it is older than [#573](https://github.com/minio/console/issues/573)?

[2021-01-24 21:10] harshavardhana commented on #428
The issue is related to console not related to operator @mfbrj

[2021-01-24 21:12] mfbrj commented on #428
Right. Thanks for the answer @harshavardhana

[2021-01-25 11:21] aead commented on #432
This should already be fixed by d9b3265308b869323f1bbe498b7c6ff06cf6c9ac
Any plans to make a new release @dvaldivia @harshavardhana

***

@upodroid
Yes, conceptually KES should use Vault's K8S service account authentication. IIRC operator just doesn't support that, yet...

[2021-01-25 17:10] ravindk89 commented on #430
@birdcolour we're working on re-doing the docs for operator, with some special attention to the CRD at this time.

You can actually find an example of this on the newly generated https://github.com/minio/operator/blob/master/docs/crd.adoc . Please note that this new CRD reflects the state of the operator *in master*. For older versions of the Operator, you'll need to examine the CRD directly.

As

[2021-01-25 17:24] ravindk89 commented on #415
@ustiugov as noted, the command you specified is valid for the v0.3.29 tag, and you can find an older readme [here](https://github.com/minio/operator/tree/v3.0.29). Since we intend to update to 0.4.0 imminently, I do not think we will be updating that tag readme.

As far as concerns about changing API and syntax - the documentation can only ever cover what the product's state *is*, which in this c

[2021-01-27 13:17] sev3ryn opened #439 "Install operator in declarative way without krew"
**Is your feature request related to a problem? Please describe.**
approach with installing minio-operator using krew acts like blackbox - you don't know/control what elements are installed and where. Also using krew plugin - configuration is imperative which neglects the main beauty of Kubernetes - declarative configuration which can be reviewed and versioned in version control

**Describe the so

[2021-01-27 13:37] nitisht commented on #439
Have you seen the -o flag in kubectl plugin? or the bunch of examples available in examples folder?

[2021-01-27 15:09] sev3ryn commented on #439
[code]
I do understand that behind the curtain it is all yaml manifests, but there is no official doc or way of installing Minio operator (doing kubectl minio init) without krew. This is exactly what am I asking for.

[2021-01-27 15:21] nitisht commented on #439
$ kubectl-minio init --help

'init' command creates MinIO Operator deployment along with all the dependencies.

Usage:
  minio init [flags]

Examples:
  kubectl minio operator init

Flags:
  -d, --cluster-domain string       cluster domain of the Kubernetes cluster (default "cluster.local")
  -h, --help                        help for init
  -i, --image string                operator image (defaul

[2021-01-27 15:22] nitisht commented on #439
If you don't want krew, you have `kustomize` manifest available as `kustomize build github.com/minio/operator | kubectl apply -f -`

[2021-01-27 15:26] sev3ryn commented on #439
thank you for detailed answer! Especially for kustomize option

[2021-01-27 15:26] #439 closed

[2021-01-27 20:34] dvaldivia commented on #439
@sev3ryn you can also install via kustomize option in `kubectl` like this

[code]
or use operator as a base in your own kustomization.yaml files

[2021-01-27 21:10] harshavardhana commented on #439
Our recommended style is using `kubectl` plugin  - if you want help beyond that feel free to look at the source @sev3ryn

[2021-01-28 16:34] philippeboyd commented on #398
Same problem as @JLMonk Operator resets everything... Why is the operator so behind in its console release? Latest console is at 0.5.2

[2021-01-28 17:14] Alevsk commented on #398
@philippeboyd we are very close to release the new version of operator which includes the fix for this issue, we just need a couple more man hrs for testing the v1 to v2 conversion https://github.com/minio/operator/pull/423#pullrequestreview-577861164

[2021-01-28 23:32] #285 closed

[2021-01-29 19:08] seanjhulse opened #441 "Can we reduce the required CustomResourceDefinitions permissions to run the MinIO operator?"
**Is your feature request related to a problem? Please describe.**
I am trying to deploy to a shared cluster and I _really_ don't feel comfortable creating a role that can delete entire namespaces or collections. Not only is it scary from a development standpoint, but it's also difficult to administrate. We intentionally locked down each user account's ability to create CRDs and now MinIO is forci

[2021-01-29 19:34] dvaldivia commented on #441
the namespace powers seems like a valid concern, I dont think we need create/delete on namespace, we can remove them

[2021-01-29 22:22] ninjaslothx opened #442 "Provide ability to supply custom image during tenant creation"
`kubectl minio init` has a flag for supplying a custom image location.
This flag does not exist for `kubectl minio tenant create`.

Would we be able to get the --image flag added to the tenant create to supply a custom image location?
An alternative option would be to have the operator crd have an override-able default image registry.

This would be useful for air-gapped environments or when using

[2021-01-29 23:51] cesnietor opened #443 "Error updating to latest operator"
When updating from `v.3.0.28` to  latest operator from master, kustomize fails updating since CRD is invalid
## Expected Behavior
All resources from kustomization.yaml should be deployed with no errors

## Current Behavior
[code]

## Steps to Reproduce (for bugs)

1. Deploy operator `v3.0.28` and create a tenant using console
2. Update to latest operator from master using `kustomize build . | k ap

[2021-01-30 02:06] dvaldivia commented on #443
@cesnietor whats the kubernetes versión for server and client?

[2021-02-01 11:01] nitisht commented on #379
I can see the version with latest master, @cesnietor can we close this?

[code]

[2021-02-01 11:05] #442 closed

[2021-02-01 16:17] smartservice-energy opened #446 "Minio Operator TLS with cert-manager is not working"
Minio Operator searches for public.crt, cert-manager although could not be configured to name the crt and key files other than ca.crt, tls.crt and tls.key.

[2021-02-01 16:42] #379 closed

[2021-02-01 17:14] cesnietor commented on #443
[code]
@dvaldivia ^

[2021-02-01 17:20] nitisht commented on #182
#423 adds a way to migrate. Closing this now

[2021-02-01 17:20] #182 closed

[2021-02-01 17:22] nitisht commented on #338
Documentation is updated now https://github.com/minio/operator/blob/master/README.md#prerequisites . Is this still an issue @MikeLReminderM ?

[2021-02-01 17:23] nitisht commented on #385
care to elaborate further @haslersn ?

[2021-02-01 18:42] dvaldivia commented on #443
@cesnietor can you update your client to 1.18 as well? the feature was only marked as stable on `1.19` so it means it was not present on `1.16`

[2021-02-01 21:48] haslersn commented on #385
Just as @harshavardhana, I also think that `21.6Ti` is a valid value. My original post contains the steps to reproduce the issue. The minio operator created volumes requests for `643584Ti` rather than `1.8Ti` per volume.

[2021-02-02 00:49] cesnietor commented on #443
this issue is now solved with https://github.com/minio/operator/pull/447
There is still an issue upgrading to latest operator but I'll open that bug in a different issue.

[2021-02-02 00:49] #443 closed

[2021-02-02 00:58] cesnietor opened #448 "Tenants created before 3.0.29 with tls disabled don't upgrade correctly"
If a tenant with tls disabled (Spec.Autocert == nil) is created using operator 3.0.28 and then is updated to latest operator (where default is `true` if undefined), during the upgrade the containers will try to fetch the tls secret which of course doesn't exist.
## Expected Behavior
Tenant's created with tls disabled on versions < v3.0.29 should be updated  correctly and not expect the tls to be c

[2021-02-02 01:26] dvaldivia commented on #448
:')

[2021-02-02 06:41] ninjaslothx opened #449 "statefulSet not updated when updating env vars in tenant spec"
While trying to update/add new env vars in the tenant spec, the tenant CRD is updated and the controller detects the update but the statefulset is not updated to reflect the change.

## Steps to Reproduce (for bugs)
1. Have existing tenant
2. Update tenant CRD to add in some env var to spec: E.g
[code]
3. Operator log detects update  `main-controller.go:779] Successfully synced 'minio-testing/mini

[2021-02-02 06:41] #441 closed

[2021-02-02 10:18] Vinutha-Garimella opened #451 "minio pods are stuck in ContainerCreating"
Hi I am trying to create a minio cluster by referring this docs https://github.com/minio/operator

Minio operator pod is in running state with following logs
[code]
## Expected Behavior
By following the docs the tenant pods must be in running state without any errors.
## Current Behavior
Tenant pods are in `ContainerCreating` state even after the PVC and PV's are allocated correctly
[code]

[code]

[2021-02-02 11:07] #385 closed

[2021-02-02 11:08] nitisht commented on #451
How did you create the tenant? can you provide the yaml used?

[2021-02-02 11:09] nitisht commented on #449
Thanks for reporting, we'll take a look

[2021-02-02 11:15] Vinutha-Garimella commented on #451
Here is the tenant.yaml file

[code]

[2021-02-02 11:22] nitisht commented on #451
podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: "app"
                      operator: "In"
                      values:
                        - "minio"
                topologyKey: "kubernetes.io/hostname"
              weight: 1
      resource

[2021-02-02 18:02] Vinutha-Garimella commented on #451
okay, I'll try that and update results here

[2021-02-02 18:07] Vinutha-Garimella commented on #451
@nitisht Thank you so much for your help, removing affinity from the zones section did help and now all minio pods are in running state

[2021-02-02 18:07] harshavardhana commented on #451
:+1:

[2021-02-02 18:07] #451 closed

[2021-02-02 20:24] ngbrown opened #453 "Ask prompt doesn't accept windows line ending"
When the krew plugin is installed in Windows, the `kubectl minio delete' prompt doesn't accept any value.

[code]

This is the source of the prompt:

https://github.com/minio/operator/blob/48ccec03f0ec1177bbc3f370f90e535eaf184a72/kubectl-minio/cmd/delete.go#L68-L70

I think the reason is that `\r` in addition to `\n` needs to be trimmed:

https://github.com/minio/operator/blob/48ccec03f0ec1177bbc3

[2021-02-03 05:47] Alevsk commented on #446
@smartservice-energy when attaching secrets in your tenant CRD please make sure the secret type is `kubernetes.io/tls` ie:
[code]

Operator has logic to look for the `tls.crt` field if the secret type is `kubernetes.io/tls` or `cert-manager.io/v1alpha2`, otherwise the secret must content the `public.crt` field.

[2021-02-03 07:15] whitmell opened #454 "Error: unknown command "init" for "minio""
Receiving unknown command error on fresh install of krew and minio.

## Expected Behavior
kubectl minio init
Initializes minio operator

## Current Behavior
kubectl minio init
Error: unknown command "init" for "minio"

## Steps to Reproduce (for bugs)
1. Uninstall previous install of krew using uninstall instructions from krew docs (remove ~/.krew folder)
2. Install krew using install instructions

[2021-02-03 07:19] nitisht commented on #454
Can you try `kubectl minio init --help` and post the output?

[2021-02-03 11:46] upodroid commented on #432
I took a closer look at the Tenant CRD and you can specify serviceAccountName for Tenant, Console and KES Deploys/Statefulsets.

https://github.com/minio/operator/blob/master/docs/crd.adoc#k8s-api-github-com-minio-operator-pkg-apis-minio-min-io-v2-kesconfig

I can push a commit that adds a note to all the *.md files to look at crd.adoc for more details.

Can you cut a new release?

[2021-02-03 11:53] nitisht commented on #394
with #456 follow below steps to update the root creds

1. Update the Secret `minio-creds-secret` with new credential values.
2. Add below env vars in the tenant yaml (remember to use the _actual_ old creds)

[code]

3. Apply the tenant.yaml file.
4. You should see the MinIO statefulsets getting updated with new new root credentials.

[2021-02-03 13:29] smartservice-energy commented on #446
The tenant configuration contains:
  externalCertSecret:
    - name: smart-minio-tls
      type: cert-manager.io/v1alpha2
Applying the configuration results the following:
  Warning  FailedMount  18s                  kubelet            Unable to attach or mount volumes: unmounted volumes=[minio-timestamp-tls], unattached volumes=[minio-timestamp-tls default-token-747v6 data0 data1 data2]: timed ou

[2021-02-03 15:21] whitmell commented on #454
Same error.

[2021-02-03 15:28] nitisht commented on #454
You have an older version of plugin, please try `kubectl minio operator init`

[2021-02-03 16:15] wmatthews-fti commented on #454
That doesn't work for me either.  I have 3.0.29 installed, I thought that was the latest?

[code]

[2021-02-03 16:17] whitmell commented on #454
That doesn't work for me either.  I have 3.0.29 installed, I thought that was the latest?

[code]

[2021-02-03 20:49] JulianKowalczuk commented on #373
I have latest version of krew and its minio plugin on 1.20 k8s.
Same error.
There was v0.3.14 version. I guess it should be already patched, but it's not.
Pls update that, since Your official docs from its repository uses krew.

Ofc patching image of console pods to v0.4.6 solved problem

[2021-02-03 23:43] upodroid opened #457 "Minio Tenant with single PVC fails to create."
## Expected Behavior

I'm using TrueNAS to mount an nfs share provisioned via democratic-csi driver and minio is forcing me to create 4 disks per server. The data redundancy is already provided via ZFS and I don't want to do it via Minio

https://docs.min.io/docs/minio-gateway-for-nas.html This config doesn't seem to be supported by the operator yet.

## Current Behavior

Error

[code]

## Your En

[2021-02-03 23:46] dvaldivia commented on #457
we have a restriction on setups with `1 server 1 disk` as they wouldn't be resilient in any form, thus the status
[code]

 if you go to `1 server 4 disks`  the tenant should start

[2021-02-03 23:46] #457 closed

[2021-02-04 00:09] #453 closed

[2021-02-04 06:30] nitisht commented on #421
Is this still a problem @jaggerwang ? Can you paste the output `kubectl describe pod <minio-pod-name>`

[2021-02-04 06:35] nitisht commented on #338
Closing this due to no response. Feel free to reopen.

[2021-02-04 06:35] #338 closed

[2021-02-04 07:05] nitisht commented on #365
Is this still planned @Alevsk ?

[2021-02-04 07:08] nitisht commented on #430
Closing this for now.

[2021-02-04 07:08] #430 closed

[2021-02-04 07:08] nitisht commented on #432
Feel free to send a PR @upodroid . We are planning to make a release soon.

[2021-02-04 07:09] nitisht commented on #454
Can you try `which kubectl-minio`? Looks like you have an older copy somewhere

[2021-02-04 09:32] upodroid commented on #457
I know `1 server 4 disks` works, but the underlying datastore is resilient so it would be nice to see `1 server 1 disks`

[2021-02-04 09:44] harshavardhana commented on #457
The operator is designed for MinIO to be scale-out - there is no value for this operator to make MinIO run on a single drive.

[2021-02-04 12:27] oiar commented on #421
I encountered the same problem, have you found a solution? Thank you very much if you can get your help.

[2021-02-04 12:34] oiar commented on #421
hi! Hope to get your help, thank you very much.
`kubectl describe pod minio-tenant-1-zone-0-0`
`Error from server (NotFound): pods "minio-tenant-1-zone-0-0" not found`
and
`kubectl get events -n minio`
`LAST SEEN   TYPE      REASON        OBJECT                        MESSAGE
8s          Warning   FailedMount   pod/minio-tenant-1-zone-0-0   MountVolume.SetUp failed for volume "minio-tenant-1-tls"

[2021-02-04 13:12] nitisht commented on #421
Do you have this secret? Please create a fresh issue with details. You may or many not be hitting the same issue.

[2021-02-04 16:58] ravindk89 commented on #430
https://docs.min.io/minio/k8s/reference/minio-operator-reference.html#minio-console-service <- early preview of the docs in question, which includes a reference to the specified item. Hope that helps @birdcolour

[2021-02-05 02:04] Alevsk commented on #365
Hi @nitisht, yes, this was a proposal from @harshavardhana I think, it will be helpful for the users to be able to set a list of minio accounts to be generated during tenant provisioning

[2021-02-05 06:28] jaggerwang commented on #421
[code]

And the secrets:

![image](https://user-images.githubusercontent.com/1255011/106997684-42f91780-67be-11eb-95ab-34f3102c387e.png)

[2021-02-05 06:35] oiar commented on #421
[code]

[2021-02-05 10:46] celalsahin opened #459 "minio tenant ssl certificate is not signed by cluster root CA"
Here: https://github.com/minio/operator/blob/master/README.md#3-connect-to-the-tenant it is mentioned that the "Each certificate is signed using the Kubernetes Certificate Authority (CA) configured during cluster deployment." but that is not the case, at least, with OCP 4.6.13 - also in current kubernetes documentation I can see that it is not the case, at least the description suggests so:
https:

[2021-02-05 20:39] whitmell commented on #454
/usr/local/bin/kubectl-minio

[2021-02-05 20:50] harshavardhana commented on #454
rm /usr/local/bin/kubectl-minio

and then

[code]

[2021-02-05 20:56] whitmell commented on #454
That seems to have done it, thanks!  I will try the install again later this evening, but the help for "kubectl minio" now shows init.

I had to add one extra step: `kubectl krew uninstall minio`

[code]

[2021-02-05 21:03] harshavardhana commented on #454
:+1:

[2021-02-05 21:03] #454 closed

[2021-02-05 22:19] dvaldivia commented on #459
I did saw the certificates being signed by the k8s CA, the way i tested this:

Get a shell
[code]

Copy the root CA to the container certs
[code]

Talk to my MinIO Tenant over TLS

[code]

can you confirm these steps fail for you?

[2021-02-05 23:13] harshavardhana commented on #394
Perhaps its better to still mention MINIO_ACCESS_KEY_OLD combination for older releases

[2021-02-06 02:35] oiar commented on #421
Hi! I solved this problem. I found I can't creates TLS certificates automatically using the Kubernetes cluster root Certificate Authority (CA) to establish trust, and `requestAutoCert` field in the config file is true. But I create a self-signed certificate and use a Kubernetes Secret resource to store this information, and then the problem goes away.

[code]

[2021-02-06 12:43] celalsahin commented on #459
Hi Daniel!

Thanks for the quick reply! I can confirm that those steps fail for me:

[csahin@qp08c ~]$ kubectl run my-shell  -i --tty --image miniodev/debugger -- bash
If you don't see a command prompt, try pressing enter.
root@my-shell:/# cp /var/run/secrets/kubernetes.io/serviceaccount/ca.crt /etc/ssl/certs/
root@my-shell:/# mc config host add myminio https://minio.minio-test-tenant1.svc.cluster

[2021-02-08 10:47] mlorenzo-stratio commented on #373
Same here, I installed krew minio plugin `v3.0.29` and it still pulls minio console `v0.3.14`:
[code]

[2021-02-08 10:49] nitisht commented on #373
This change will be available in `v4.0.0` which is not released yet. Please bear with us while we make the release

[2021-02-08 17:38] Alevsk commented on #459
Hi @celalsahin please try copying the `ca.crt` file to MinIO's `certs/CAs` folder

[code]

MinIO will verify everything against all the certificates in that folder

[2021-02-08 17:44] Alevsk commented on #446
@smartservice-energy Seems that the secret doesnt even exists in the cluster
[code]

please verify the secret exists:

[code]

If no output, first delete the tenant, then make sure to delete all csr (certificiate signing request) `kubectl delete csr --all` and try to deploy the tenant again

[2021-02-08 17:47] #394 closed

[2021-02-08 17:47] #449 closed

[2021-02-08 17:55] #432 closed

[2021-02-08 21:00] vvavepacket opened #461 "[Question] slack channel not publicly accessible"
I would like to join the slack channel but it seems its private only. Does someone have a unique link or is it invite only?

My question was how can I install minio operator on a specific namespace?

I'm using `kubectl krew minio init`, but it install to a default namespace.

[2021-02-08 21:09] kerneltime commented on #461
You should be able to provide the namespace
[code]

[2021-02-08 21:25] vvavepacket opened #462 "Not deleting resources correctly"
I installed minio operator to a specific namespace using `kubectl minio init --namespace minio
`
Now when I want to delete it by executing kubectl minio delete, it doesn't delete all the resources and errors out

Now, when I try to recreate minio again, I'm unable to do so because it complains of the following

## Expected Behavior

It should end with a successful message

## Current Behavior

[co

[2021-02-08 21:28] vvavepacket commented on #461
Thanks Ritesh, do you happen to be a member of minio slack. Are users allowed to join?

[2021-02-08 21:33] harshavardhana commented on #461
its self invite https://slack.minio.io @vvavepacket

[2021-02-08 21:37] vvavepacket commented on #461
@harshavardhana
It is not.. It is invite only.. Can you please enable it or add me ?

![image](https://user-images.githubusercontent.com/8295642/107284493-eac74d00-6a2b-11eb-9aaa-0779ad0f7c2d.png)

Only allowed are those with .minio.io domain

[2021-02-08 21:39] harshavardhana commented on #461
Looks like invite has expired let me fix it @vvavepacket

[2021-02-08 21:41] harshavardhana commented on #461
Refresh the page and try again @vvavepacket

[2021-02-08 21:41] #461 closed

[2021-02-08 21:45] vvavepacket commented on #461
@harshavardhana
For some reason, I still could not join :/ It still says invite only and does not allow someone to self join... Tried signing in with my email but still not seeing the option to join minio

[2021-02-08 21:52] harshavardhana commented on #461
You should refresh the page @vvavepacket - try incognito mode.

[2021-02-08 21:53] harshavardhana commented on #461
![slack](https://user-images.githubusercontent.com/622699/107286098-fb1ffd80-6a14-11eb-9736-cfd0b7ad7d82.png)

This is what you should see

[2021-02-08 21:57] vvavepacket commented on #461
Thanks able to join!

[2021-02-08 22:17] vvavepacket commented on #426
@mokpolar  @nitisht

Where did you modify / which CRD did you modify to force the image version to v0.4.6 ? I am facing the same issue. I currently have the latest minio release..

Or is there anyway to specify the image version during installation using kubectl krew / minio?

Thanks

[2021-02-09 09:27] celalsahin commented on #459
Hi both,

Thanks for your quick replies.

@Alevsk minio-debugger does not have the necessary folder structure:

[2021-02-09 16:16] celalsahin opened #464 ""MinIO Tenant with TLS via customer provided certificates" fails to complete tenant creation with "readObjectStart: expect { or n, but found [, error found in #10 byte of""
## Expected Behavior

Creating a minio tenant following descriptions at https://github.com/minio/operator/blob/v3.0.29/docs/examples.md#minio-tenant-with-tls-via-customer-provided-certificates should result in a successfully created tenant, with customer provided certificates.

## Current Behavior

Creating a minio tenant following descriptions at https://github.com/minio/operator/blob/v3.0.29/doc

[2021-02-09 23:25] ConnorJC3 opened #466 "securityContext not respected in console deployments (and therefore pods)"
## Expected Behavior
Setting the security context should apply to all pods created by the operator. Alternatively, there should be a configuration option for separate pods to set the securityContext.

## Current Behavior
Setting the securityContext only applies to the minio StatefulSet, and not the console deployment.

## Possible Solution
Apply the securityContext to other minio components as wel

[2021-02-09 23:37] dvaldivia commented on #466
do you expect the same securityContext for console? I think it'd make sense to have separate securityContext for console pods as well as logging, prometheus and kes pods

[2021-02-10 00:54] ConnorJC3 commented on #466
In my case, a separate context for console is unneeded, because I just need to make sure the container is running with a non-root user (so as long as the same context works on both types of pods I'm good to go). However, a separate context per type of pod may help others with more diverse needs, and would be equivalently useful for me, so that would be cool too.

[2021-02-10 18:00] Alevsk commented on #464
@celalsahin Hi, this seems to be an issue with the current CRD you are using, can you please share the output of `kubectl get crd tenants.minio.min.io -o yaml` command? It seems that the version of Operator you are currently using has a CRD that expects an object to be passed in the `v1.TenantSpec.ExternalCertSecret` field but you are passing an `array`

[2021-02-10 18:20] annonch commented on #415
The documentation is outdated for the v0.3.29 tag as well...

[2021-02-10 18:27] jhoblitt commented on #373
I just ran into this as well and it was a bit frustrating as github search doesn't do a good job with `-certs-dir`.

[2021-02-10 18:29] jhoblitt commented on #373
@nitisht I realize there is overhead involved in any release but how about making a 3.0.10 which updates the console image tag?

[2021-02-10 18:35] ravindk89 commented on #415
@annonch just for my own tracking, what issue did you run into for the 3.0.29 tag?

As far as 4.0.0, you can see the pending issues [here](https://github.com/minio/operator/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-4.0)

[2021-02-10 21:53] #412 closed

[2021-02-10 21:53] #360 closed

[2021-02-11 03:28] dvaldivia commented on #365
@Alevsk it would be better to have that list be a list of secrets with key pairs, is that the intention? keeping secrets in plain text on the Tenant will be a big nono

[2021-02-11 03:31] Alevsk commented on #459
@celalsahin understood, didn't saw you were running `mc` inside a pod the first time, in that case please try this first (if the folder doesn't exists please create it manually):

[code]

Answering your question:

It's possible to deploy a tenant with TLS disabled (please look at https://github.com/minio/operator/blob/master/examples/tenant.yaml#L130), you will need to use the YAML

[code]

[2021-02-11 03:33] harshavardhana commented on #459
We should let `mc` also automatically read from this location like MinIO server @Alevsk

[2021-02-11 03:50] Alevsk commented on #459
@celalsahin please update to latest version `mc`, mc will automatically load the `ca.crt` file in the ca certificates pool

[2021-02-11 08:34] celalsahin commented on #464
Hi,

Just that you know how I got to this point/minio operator version - I just installed it via kubectl krew & I have 3.0.29, at least according to krew
[code]

Here is the output for your question attached
[crd.log](https://github.com/minio/operator/files/5963841/crd.log)
, as it is quite long.

Regards
Celal

[2021-02-11 09:39] celalsahin commented on #459
Hi both,

Sorry but I still feel I cannot explain myself good enough.
First result of the tests you requested: (from start of creation of the tenant)

[code]

Then the test you asked:

[2021-02-11 09:46] celalsahin commented on #459
Regarding:
||If you want just to get unstuck and continue your work, you can use the --insecure flag in your mc client (but copying the certificate above should work), ie:
--> I am using mc debugger just to provide more information. In my real use case some CI jobs will access s3 storage & "insecure" is not an option

|| It's possible to deploy a tenant with TLS disabled (please look at https://gi

[2021-02-12 00:41] Alevsk commented on #459
@celalsahin thanks for the clarification, now is more clear, we will continue investigating the issue, in the mean time there's an option for you to provide manually generated certificates that works witth your CI Jobs:

[code]

If `tls-ssl-minio` it's a generic secret operator will look for the `public.crt` and `private.key` field, if the secret type is `kubernetes.io/tls` then `tls.crt` and `tls

[2021-02-13 08:13] celalsahin commented on #459
@Alevsk Thanks for the proposal, I am able to get http working - this is good of a work around for us, for the time being :)

[2021-02-13 11:18] celalsahin opened #467 "minio tenant expand does not accept "--storage-class" parameter"
First of all, with 3.0.29 I am using tenant expand (on contary to what is written in https://github.com/minio/operator/blob/v3.0.29/docs/expansion.md#getting-started) because there is no "volume" call in that version.

Unlike "tenant create", "tenant expand" does not have a parameter --storage-class. This is a problem when you use any storage class except default. This causes problems if you have

[2021-02-13 13:30] celalsahin commented on #467
Hmm I think it is worse than falling back to default - PVC created by "expand" won't bound to PV, because it is missing "storageClassName" completely... It will not even bound to default.

But as there are no open issues on that, I might be doing something wrong - but not sure as I did a really basic set of steps, see below & please let me know if there is anything wrong with the steps:

1 - Creat

[2021-02-13 16:41] annonch commented on #415
I was able to use the 3.0.29 tag to install and create a tenant. The Console image is outdated so I reran with -o tenant.yaml instead of directly applying, and replace the image with 5.0.2. The old version was not a problem in and of itself, the --cert-dir passed in to that version caused the container to crash on startup. 5.0.2 starts correctly however I am unable to use it due to certificate err

[2021-02-16 04:38] #448 closed

[2021-02-17 02:19] #446 closed

[2021-02-17 17:02] #365 closed

[2021-02-17 17:34] #466 closed

[2021-02-18 17:59] jhoblitt opened #473 "kubectl minio plugin doesn't properly cleanup after operator 3.0.29"
[code]

## Your Environment
* Version used (`minio-operator`): 3.0.29
* Environment name and version (e.g. kubernetes v1.17.2): rke 1.19.7
* Server type and version: dell r740s
* Operating System and version (`uname -a`): `Linux chonchon01.cp.lsst.org 3.10.0-1160.15.2.el7.x86_64 #1 SMP Wed Feb 3 15:06:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

[2021-02-18 18:09] jhoblitt commented on #473
The help for `delete` claims that the default namespace is default but it still only does a partial cleanup with the `-n` flag. E.g. the operator pod is still running.

[code]

[2021-02-18 19:59] #462 closed

[2021-02-18 19:59] #467 closed

[2021-02-18 20:40] #459 closed

[2021-02-19 17:10] jhoblitt opened #477 "warning in Makefile says to use controller-gen v0.4.6 but links to v0.4.7"
When running `make` on current master, this warning is printed:
[code]

However, right above the warning in the makefile, v0.4.7 is being fetched:

https://github.com/minio/operator/blob/master/Makefile#L57

v0.4.7 is also specified in `go.mod`:

https://github.com/minio/operator/blob/master/go.mod#L10

There doesn't seem to be any manual attempt in the github workflow to install an alternative ve

[2021-02-19 17:15] jhoblitt commented on #477
Also, I am getting the same error regenerating the CRD with both `controller-gen` v0.4.6 and v0.4.7:

[code]

[2021-02-19 17:42] jhoblitt commented on #477
Updating kustomize to `{Version:kustomize/v4.0.1 GitCommit:516ff1fa56040adc0173ff6ece66350eb4ed78a9 BuildDate:2021-02-13T21:21:14Z GoOs:linux GoArch:amd64}` resolved the `rawResources` error.

[2021-02-19 18:02] dvaldivia commented on #477
nice catch, I'll update it to the `v0.4.7` on my next PR

[2021-02-19 18:19] jhoblitt opened #478 "`kubectl minio proxy -o` flag is not a "dry run" as described in help message"
## Expected Behavior
The expectation is that `kubectl minio proxy -o` would output yaml or a verbatim command line that could be copied and run for a `kubectl` installation that does not have the `minio` plugin installed.  Most importantly, "dry" implies that the command should be a "noop".

## Current Behavior

It starts a proxy session with no yaml or other dryrun output:
[code]

## Steps to Rep

[2021-02-19 18:39] jhoblitt opened #479 "master/v4.0.0/c40ab9c operator does not appear to create a functional console"
## Expected Behavior
A working console.

## Current Behavior
1. The new non-tenant specific console is in accessible via an ingress resource:

[code]
![image](https://user-images.githubusercontent.com/948901/108546508-70f25780-72a6-11eb-864d-628b3d8ec3be.png)

2. The console may be accessed via the `kubectl minio proxy` command (this is somewhat inconvenient for me as I normal run administrative c

[2021-02-19 19:02] jhoblitt opened #481 "master/v4.0.0/c40ab9c apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition"
## Expected Behavior

This is trivial but the expectation is that currently supported k8s resources are used.  As the README states k8s 1.17+ is required, it may be possible to update the resources.  https://github.com/minio/operator/blob/2b45752b52950c927a58ebe0fb956e13da36c09a/README.md#prerequisites

## Current Behavior

[code]

## Your Environment
* Version used (`minio-operator`): (and plugin

[2021-02-19 19:04] jhoblitt commented on #479
logs make it look like an rbac setup issue:

[code]

[2021-02-19 19:12] jhoblitt opened #482 "master/v4.0.0/c40ab9c excessive deprecation warnings: certificates.k8s.io/v1beta1 CertificateSigningRequest is deprecated in v1.19+, unavailable in v1.22+; use certificates.k8s.io/v1 CertificateSigningRequest"
The operator log is producing a lot of warnings about changes to `CertificateSigningRequest`.  I realize this is difficult to fix as it is going to be "a while" before it is reasonable to make k8s 1.19+ the minimum supported version.

[code]

However, the rate of these warnings in the log is excessive at ~700/hour.  I don't know if it is even possible to squelch API warnings...

[code]

## Your En

[2021-02-19 19:13] #477 closed

[2021-02-19 19:30] jhoblitt opened #483 "master/v4.0.0/c40ab9c kubectl plugin unable to create a tenant"
## Expected Behavior

I am unsure if this is a problem with the plugin, the operator, the docs or all of the above. Following the instructions in the README for how to create a tenant, using the kubectl plugin, do not result in a working tenant.

https://github.com/minio/operator/blob/2b45752b52950c927a58ebe0fb956e13da36c09a/README.md#2-create-a-new-tenant

## Current Behavior

Note that a storage

[2021-02-19 19:54] cesnietor commented on #479
Hi @jhoblitt, for number **3.** right now you need to have a Resource quota so that an available storage class can be selected.
Can you please try creating a resourcequota.yaml file with the following content:
Supposing the namespace you are trying to use already exists (else you have to create it in advance):
[code]
then applying it like
[code]
The number `9223372036854775807` is basically settin

[2021-02-19 20:01] dvaldivia commented on #479
@cesnietor I think we removed that requirement recently, does the `minio-tenant-1` namespace exists?

[2021-02-19 20:01] jhoblitt commented on #479
@cesnietor Sure.  I killed the operator pod to reset the logging:

[code]

[2021-02-19 20:03] jhoblitt commented on #479
@cesnietor @dvaldivia sorry, I got confused as to which issue this was. I'll try the console and report back.

[2021-02-19 20:08] jhoblitt commented on #479
Looks like no change:

[code]

![image](https://user-images.githubusercontent.com/948901/108555709-157a9680-72b3-11eb-8e9b-fe0b219e792a.png)

[2021-02-19 20:16] dvaldivia commented on #479
@jhoblitt the main error is the following
[code]

How did you install the operator? It sounds like the service account `console-sa` doesn't have permission to access `resourcequotas`

[2021-02-19 20:35] jhoblitt commented on #479
@dvaldivia I replaced the krew synlimk for `kubectl-minio` with my build of master and than ran:

[code]

Do you think this might be caused by #473 leaving resources behind?

[2021-02-19 20:39] dvaldivia commented on #479
it's possible @jhoblitt, do you wanna try installing via `kubectl` ?

[code]

[2021-02-19 20:43] cesnietor commented on #479
@jhoblitt So I've tried the commands with kubectl plugin and indeed the some resources like service accounts are not created correctly.
In fact the console that you are running might be old  I guess you apply it separately?  cause, yes, you shouldn't have had to add the resourcequota.
I ran it using kustomize and work fine. Creating the service accounts correctly.
[code]
In the meantime you can ru

[2021-02-19 20:46] dvaldivia commented on #479
what @cesnietor proposes is a good solution

[2021-02-19 20:46] cesnietor commented on #479
the main reason might be cause plugin is attached to version `v3.0.29`
[code]
And building with master which is ahead of 3.0.29 @dvaldivia  we need to update plugin only and test.

[2021-02-19 20:58] jhoblitt commented on #479
@dvaldivia Sure, I can try to to install with `apply` or customize. I'm trying to get the console ldap support working which was merged after 3.0.29 was tagged but I can try the yaml from master.

@cesnietor note that I am not installing the plugin with krew. I am just copying in my build of the plugin from master to into the krew bin dir.

[code]

Maybe it would be a good idea to add a version su

[2021-02-19 22:18] dvaldivia commented on #479
if you want to deploy the latest, you could build your own container

[code]

and then clone this repo, modify `resources/deployment.yaml` to match your image and then
[code]

[2021-02-19 22:58] jhoblitt commented on #479
@dvaldivia I am aware and that's what I did this morning.  From the initial ticket I'm using `kubectl minio init -n minio-operator --image=jhoblitt/minio-operator:v3.0.29-70-gc40ab9c-2`.  I just didn't bother to override the dev tag logic in the Makefile this morning: https://hub.docker.com/repository/docker/jhoblitt/minio-operator . c40ab9c was the tip of `master` as of this morning.

[2021-02-19 23:26] cesnietor commented on #479
@jhoblitt  the issue for the serviceaccount is a clusterrolebinding which was not being set to the defined namespace.  this is being addressed in the pr above ^.

[2021-02-20 00:07] Alevsk commented on #479
@jhoblitt hi, for issue #1 if UI is loading on screen that means requests are correctly routed to the service via the ingress controller (at least the client was able to download the js), can you show here the output of:

`kubectl get svc --all-namespaces`

also that initial screen that shows the 503, does it keeps loading forever? Were you able to authenticate using the k8s service account token?

[2021-02-20 00:15] jhoblitt commented on #479
@cesnietor I've build your PR and pushed it to docker hub as `jhoblitt/minio-operator:v3.0.29-73-g11f0964`.  Probably not going to be able to test it today though.

@Alevsk Re #1. I  just checked and it is still showing the same page with the "503" message on it and a spinning circle symbol. And I see where you going... the service name is wrong.

[code]

This is extremely strange... what is the i

[2021-02-20 00:18] jhoblitt commented on #479
@Alevsk Good call.  #1 was an id10t error (and some crazy browser caching of a tenant console). Fixing the ingress resource got it working.

[code]

[2021-02-20 00:24] Alevsk commented on #483
@jhoblitt please try:

- Delete operator
- `kubectl delete csr --all`
- Install operator again and let's see if the `operator-tls` is generated correctly

[2021-02-20 01:53] cesnietor commented on #473
@jhoblitt thanks for reporting the issue, I've sent one pr to fix some issues.  ^

[2021-02-22 16:58] Pratyush2703 opened #487 "Unexpected keys provided at minio tenant installation; no console generated"
Following the steps at [https://github.com/minio/operator/blob/master/README.md](https://github.com/minio/operator/blob/master/README.md), instead of receiving the

`Tenant 'minio-tenant-1' created in 'minio-tenant-1' Namespace
  Username: admin
  Password: dbc978c2-bfbe-41bf-9dc6-699c76bafcd0
+-------------+------------------------+------------------+--------------+-----------------+
| APPLICATIO

[2021-02-22 17:26] ravindk89 commented on #487
The currently documented output may have been from an earlier patch of master...I will test and validate what the actual output is. In the short term, I'll remove the explicit example, as you are still getting credentials for the Tenant and MinIO Console as expected.

As far as the service goes - can you provide the output of `kubectl get svc --namespace minio-tenant-1` ?

[2021-02-22 21:19] #473 closed

[2021-02-22 21:34] kerneltime commented on #483
If you run into the problem again, it would be good to test if the self signed certificate setup in your k8s cluster is working. The relevant logs
[code]

[2021-02-22 21:46] cesnietor commented on #479
Closing this issue since all issues are being resolved in PR #485, please reopen or file new issue if the bug persists.

[2021-02-22 21:46] #479 closed

[2021-02-23 00:42] #481 closed

[2021-02-23 00:42] #482 closed

[2021-02-23 16:04] jhoblitt commented on #479
@dvaldivia / @cesnietor / @Alevsk I have tried installing the operator using kustomize from 9ab6c08 with the operator image tag as the only modification.

Doing it this way means the JWT token isn't fished out for you but it looks like is `data.token` in the secret `console-sa-token-xxxx`.  It might be worth documenting this if if use of kustomize will be encouraged.

However, using kustomize dire

[2021-02-23 16:16] jhoblitt commented on #479
@cesnietor It appears #485 caused a new problem.  I am unable to re-open this ticket.  Would you like to open a new issue?

I rebuilt `kubectl-minio` from bfa960566ea7c4cd5b613b16b86a512403236a13.

[code]
The good news is that issue 2) is resolved:

![image](https://user-images.githubusercontent.com/948901/108872495-76f27c00-75b7-11eb-9e4f-b5544d06b967.png)

However, issue 3 is still present but w

[2021-02-23 16:18] jhoblitt commented on #473
I haven't checked all the resources yet but I can confirm that at least the clusterrolebinding for the console is now being cleaned up.  Thank you!

[2021-02-23 16:18] cesnietor commented on #479
@jhoblitt  does the namespace `minio-tenant-1` exist? it should be created in advance manually.

[2021-02-23 16:43] jhoblitt commented on #479
This is about as far as I can go with the console for the moment as I've got 3 physical nodes to test with.  https://github.com/minio/console/issues/610

I may have to spin up VMs.

[2021-02-23 17:16] cesnietor commented on #479
@jhoblitt did you also specify the namespace on the kustomization yaml? not only the image?
I've just tested it with master from operator doing the proper changes like I mentioned in https://github.com/minio/operator/issues/479#issuecomment-782334082 and the clusterrolebinding is being created correctly assigning the namespace to the role:
[code]

[code]
Please let me know if setting the namespace

[2021-02-23 18:36] dvaldivia commented on #483
This is a problem with CSR ownership for the certificate on the operator, @Alevsk is looking into it

[2021-02-24 14:16] akantak commented on #398
@Alevsk any ETA for the new release date?

[2021-02-24 22:48] akshayuppal3 opened #493 "securing minio access key and secret key with Hashicorp vault"
I referred to this link https://gist.github.com/harshavardhana/427f6cffc068418278129f4e65cbf9cc to inject secrets via vault sidecar injection. But instead of using deployment file I am updating the values.yaml and deploying via helm.
So to export access key and secret key as environment variables we need to source the secrets and entrypoint script but for that, we need to issue a bash command simi

[2021-02-24 22:48] harshavardhana commented on #493
Did you use operator? - looks like you are copy pasting helm chart configuration here @akshayuppal3 ..

[2021-02-24 22:49] akshayuppal3 commented on #493
how can we check just to be sure

[2021-02-24 22:50] harshavardhana commented on #493
Start following the operator docs and first install the operator.. https://docs.min.io/minio/k8s/

[2021-02-24 22:50] #493 closed

[2021-02-24 22:58] dvaldivia opened #494 "Enabling Logs/Monitoring on an existing Tenant doesn't re-configure the Console"

[2021-02-24 22:59] harshavardhana commented on #415
Closing v4.0.0 released

[2021-02-24 22:59] #415 closed

[2021-02-24 22:59] harshavardhana commented on #411
v4.0.0 released closing

[2021-02-24 22:59] #411 closed

[2021-02-24 23:00] harshavardhana commented on #398
v4.0.0 released closing

[2021-02-24 23:00] #398 closed

[2021-02-24 23:01] harshavardhana commented on #421
v4.0.0 released closing - please re-open if seen again

[2021-02-24 23:02] harshavardhana commented on #487
v4.0.0 released, please try again.

[2021-02-24 23:02] #487 closed

[2021-02-25 03:06] jaggerwang commented on #421
Still not working~

![image](https://user-images.githubusercontent.com/1255011/109096748-126f2280-7759-11eb-85d9-a895b1b2e78c.png)
[code]

![image](https://user-images.githubusercontent.com/1255011/109096719-02574300-7759-11eb-902b-b929c3d2c87f.png)
[code]

[2021-02-25 04:20] Pratyush2703 commented on #487
Issue was fixed in v4.0.0

[2021-02-25 05:16] Pratyush2703 opened #496 "Minio-tenant-1-console service is not created"
## Expected Behavior
minio-tenant-1-console service is created

## Steps to Reproduce (for bugs)
Using the latest version of minio released today (v4.0.0)

Operator init:
![Screenshot from 2021-02-25 11-14-38](https://user-images.githubusercontent.com/36813309/109106116-c2e12480-7761-11eb-9fb5-59b439fa8fee.png)

Tenant creation:
![Screenshot from 2021-02-25 11-15-56](https://user-images.githubuser